<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1015d28a-e1df-4485-a111-1ba4b1e31651" Alias="BEAccordionItems" Level="2">
  <Info>
    <Name>BEAccordionItems</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Site-BE-Internal</Folder>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "25422ff9-5341-47dc-8fab-1616e7bd3f68",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "{{title}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": 1,
    "max": null
  },
  "UseLiveEditing": false,
  "UseInlineEditingAsDefault": true,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>