<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b806859d-aa7b-4154-85a3-68e56ff6a593" Alias="BETestimonialItems" Level="2">
  <Info>
    <Name>BETestimonialItems</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Site-BE-Internal</Folder>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "ed740663-9c7b-447a-bb40-3e5f8d323432",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "{{title}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": 1,
    "max": null
  },
  "UseLiveEditing": false,
  "UseInlineEditingAsDefault": true,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>