<?xml version="1.0" encoding="utf-8"?>
<DataType Key="309eb194-1ef0-4039-9d10-f4ef7331e8c4" Alias="Common_FileUpload" Level="2">
  <Info>
    <Name>Common_FileUpload</Name>
    <EditorAlias>Umbraco.UploadField</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Common</Folder>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>