<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e46aa141-b508-4003-89d2-261d35a29cdb" Alias="Common_ColorPicker" Level="2">
  <Info>
    <Name>Common_ColorPicker</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Common</Folder>
  </Info>
  <Config><![CDATA[{
  "UseLabel": false,
  "Items": [
    {
      "id": 1,
      "value": "{\"value\":\"000000\",\"label\":\"000000\"}"
    },
    {
      "id": 2,
      "value": "{\"value\":\"323232\",\"label\":\"323232\"}"
    },
    {
      "id": 3,
      "value": "{\"value\":\"ffffff\",\"label\":\"ffffff\"}"
    },
    {
      "id": 4,
      "value": "{\"value\":\"f7f7f7\",\"label\":\"f7f7f7\"}"
    },
    {
      "id": 5,
      "value": "{\"value\":\"e6ae49\",\"label\":\"e6ae49\"}"
    },
    {
      "id": 6,
      "value": "{\"value\":\"be1e63\",\"label\":\"be1e63\"}"
    }
  ]
}]]></Config>
</DataType>