<?xml version="1.0" encoding="utf-8"?>
<DataType Key="19aacf4b-0e7e-44cd-8064-555a5940bd88" Alias="Common_PagePicker" Level="2">
  <Info>
    <Name>Common_PagePicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Common</Folder>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": null,
    "id": null
  },
  "Filter": null,
  "MinNumber": 0,
  "MaxNumber": 1,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>