<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fad3c248-1c81-49b0-93f1-8dac4d9d8aec" Alias="Common_VariousImagePicker_Single" Level="2">
  <Info>
    <Name>Common_VariousImagePicker_Single</Name>
    <EditorAlias>Umbraco.MediaPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Common</Folder>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "OnlyImages": true,
  "DisableFolderSelect": true,
  "StartNodeId": null,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>