<?xml version="1.0" encoding="utf-8"?>
<DataType Key="35f0b75a-af60-462a-9a7a-7b780f7c4027" Alias="Common_SiteMapPriority" Level="2">
  <Info>
    <Name>Common_SiteMapPriority</Name>
    <EditorAlias>Umbraco.Slider</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Common</Folder>
  </Info>
  <Config><![CDATA[{
  "EnableRange": false,
  "InitialValue": 0.0,
  "InitialValue2": 0.0,
  "MinimumValue": 0.0,
  "MaximumValue": 0.0,
  "StepIncrements": 0.0
}]]></Config>
</DataType>