<?xml version="1.0" encoding="utf-8"?>
<DataType Key="eb2cd376-16da-48b1-8c9b-3751aa92ac11" Alias="Common_FilePicker_Single" Level="2">
  <Info>
    <Name>Common_FilePicker_Single</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Common</Folder>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "media",
    "query": null,
    "id": null
  },
  "Filter": null,
  "MinNumber": 0,
  "MaxNumber": 1,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>