<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3c1fe5b8-5850-42b5-ac9c-aa740f590a61" Alias="Common_RichTextEditorXtraSimple" Level="2">
  <Info>
    <Name>Common_RichTextEditorXtraSimple</Name>
    <EditorAlias>Umbraco.TinyMCE</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Common</Folder>
  </Info>
  <Config><![CDATA[{
  "Editor": {
    "toolbar": [
      "bold",
      "link",
      "unlink"
    ],
    "stylesheets": [],
    "maxImageSize": 500,
    "mode": "classic",
    "dimensions": {
      "height": 250
    }
  },
  "HideLabel": false,
  "IgnoreUserStartNodes": false,
  "MediaParentId": null
}]]></Config>
</DataType>