<?xml version="1.0" encoding="utf-8"?>
<DataType Key="54f0c593-5b4d-4dcd-915a-d48571b4a5db" Alias="Common_Fa_Icon_Picker" Level="2">
  <Info>
    <Name>Common_Fa_Icon_Picker</Name>
    <EditorAlias>faIcon</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Common</Folder>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>