<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8b8a3800-f75a-4a9c-8606-16b62eac6562" Alias="Common_NcMetaTagItems" Level="2">
  <Info>
    <Name>Common_NcMetaTagItems</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Common</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "ncMetaTagItem",
      "ncTabAlias": "Contents",
      "nameTemplate": "{{tagName}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>