<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e0390d84-aa1b-4180-aff2-036257f6537d" Alias="Common_NcSocialLinks" Level="2">
  <Info>
    <Name>Common_NcSocialLinks</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Common</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "ncSocialLink",
      "ncTabAlias": "Contents",
      "nameTemplate": "{{link}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>