<?xml version="1.0" encoding="utf-8"?>
<DataType Key="540391b6-7585-46a6-92d8-32782a2cbdd5" Alias="Common_AbstractContentPagePicker_Single" Level="2">
  <Info>
    <Name>Common_AbstractContentPagePicker_Single</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Common</Folder>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": null,
    "id": null
  },
  "Filter": "abstractContentPage",
  "MinNumber": 0,
  "MaxNumber": 1,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>