<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8d2c265a-f3d2-42b4-a080-50177eb93966" Alias="Custom_Button_Size" Level="2">
  <Info>
    <Name>Custom_Button_Size</Name>
    <EditorAlias>Umbraco.Slider</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Site</Folder>
  </Info>
  <Config><![CDATA[{
  "EnableRange": false,
  "InitialValue": 1.0,
  "InitialValue2": 0.0,
  "MinimumValue": 0.0,
  "MaximumValue": 2.0,
  "StepIncrements": 1.0
}]]></Config>
</DataType>