<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5dd1dca7-5799-41a6-b907-d3fbbbaad34b" Alias="Custom_Mtb_Xs" Level="2">
  <Info>
    <Name>Custom_Mtb_Xs</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Site</Folder>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "30"
    },
    {
      "id": 2,
      "value": "60"
    }
  ]
}]]></Config>
</DataType>