<?xml version="1.0" encoding="utf-8"?>
<DataType Key="23f31aae-1966-4d83-abeb-efaf6376bad3" Alias="Custom_ColumnSize_2to4" Level="2">
  <Info>
    <Name>Custom_ColumnSize_2to4</Name>
    <EditorAlias>Umbraco.Slider</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Site</Folder>
  </Info>
  <Config><![CDATA[{
  "EnableRange": false,
  "InitialValue": 2.0,
  "InitialValue2": 0.0,
  "MinimumValue": 2.0,
  "MaximumValue": 4.0,
  "StepIncrements": 1.0
}]]></Config>
</DataType>