<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a97b2b1d-78ac-42f7-acbb-00a77b4952fa" Alias="Custom_VariousPagesPicker_Single" Level="2">
  <Info>
    <Name>Custom_VariousPagesPicker_Single</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Site</Folder>
  </Info>
  <Config><![CDATA[{
  "TreeSource": null,
  "Filter": null,
  "MinNumber": 0,
  "MaxNumber": 1,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>