<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9753d080-c444-43fd-a667-2ff1a34be681" Alias="Custom_NcLink2_Single" Level="2">
  <Info>
    <Name>Custom_NcLink2_Single</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Site</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "ncLink",
      "ncTabAlias": "Contents",
      "nameTemplate": ""
    }
  ],
  "MinItems": null,
  "MaxItems": 1,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>