<?xml version="1.0" encoding="utf-8"?>
<DataType Key="37cc5b45-db8d-4191-a96e-39d8aa56c032" Alias="Custom_ImageGalleryCategoryRootPicker" Level="2">
  <Info>
    <Name>Custom_ImageGalleryCategoryRootPicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Site</Folder>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": "",
    "id": null
  },
  "Filter": "categoriesImageGallery",
  "MinNumber": 0,
  "MaxNumber": 1,
  "ShowOpen": true,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>