<?xml version="1.0" encoding="utf-8"?>
<DataType Key="03b30dfc-0fd8-447f-8848-8677bd3e6381" Alias="Custom_OpacitySlider" Level="2">
  <Info>
    <Name>Custom_OpacitySlider</Name>
    <EditorAlias>Umbraco.Slider</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Site</Folder>
  </Info>
  <Config><![CDATA[{
  "EnableRange": false,
  "InitialValue": 1.0,
  "InitialValue2": 0.0,
  "MinimumValue": 0.1,
  "MaximumValue": 1.0,
  "StepIncrements": 0.1
}]]></Config>
</DataType>