<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9738a66b-28a3-48b3-920d-02da66cf8f4c" Alias="Custom_TextOrientation" Level="2">
  <Info>
    <Name>Custom_TextOrientation</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Site</Folder>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "Left"
    },
    {
      "id": 2,
      "value": "Center"
    },
    {
      "id": 3,
      "value": "Right"
    }
  ]
}]]></Config>
</DataType>