<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7cc8d6c9-02ba-4200-bef0-abcb82c06383" Alias="Custom_BlogSidebarWidgets" Level="2">
  <Info>
    <Name>Custom_BlogSidebarWidgets</Name>
    <EditorAlias>Umbraco.CheckBoxList</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Site</Folder>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Tags"
    },
    {
      "id": 2,
      "value": "Recent Articles"
    },
    {
      "id": 3,
      "value": "Categories"
    }
  ]
}]]></Config>
</DataType>