<?xml version="1.0" encoding="utf-8"?>
<DataType Key="42224dcb-aa82-40e0-9686-4181c42d5782" Alias="Custom_NcCookieGroup" Level="2">
  <Info>
    <Name>Custom_NcCookieGroup</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Site</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "ncCookieGroup",
      "ncTabAlias": "Cookie Group",
      "nameTemplate": "{{title}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>