<?xml version="1.0" encoding="utf-8"?>
<DataType Key="acfd2102-f2b4-4a8c-9df8-1b20972f6a89" Alias="Custom_Button_Fill" Level="2">
  <Info>
    <Name>Custom_Button_Fill</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Site</Folder>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "Black"
    },
    {
      "id": 2,
      "value": "White"
    },
    {
      "id": 3,
      "value": "Color"
    }
  ]
}]]></Config>
</DataType>