<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6e12ebe5-848e-4c91-8335-2500eecd2ff4" Alias="Custom_SidebarOptions" Level="2">
  <Info>
    <Name>Custom_SidebarOptions</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Site</Folder>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "None"
    },
    {
      "id": 2,
      "value": "Left - Only on this page"
    },
    {
      "id": 3,
      "value": "Right - Only on this page"
    },
    {
      "id": 4,
      "value": "Left - On this page and detail pages"
    },
    {
      "id": 5,
      "value": "Right - On this page and detail pages"
    }
  ]
}]]></Config>
</DataType>