<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6f2c037e-d393-4dc6-91c8-3eda2c3a8a37" Alias="Custom_TitleSpacing" Level="2">
  <Info>
    <Name>Custom_TitleSpacing</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Site</Folder>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "15"
    },
    {
      "id": 2,
      "value": "30"
    },
    {
      "id": 3,
      "value": "45"
    },
    {
      "id": 4,
      "value": "60"
    },
    {
      "id": 5,
      "value": "75"
    },
    {
      "id": 6,
      "value": "90"
    }
  ]
}]]></Config>
</DataType>