<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5941391a-0393-43ec-bc84-78a485cc86c7" Alias="Custom_ImageCropper_General" Level="2">
  <Info>
    <Name>Custom_ImageCropper_General</Name>
    <EditorAlias>Umbraco.ImageCropper</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Site</Folder>
  </Info>
  <Config><![CDATA[{
  "Crops": null
}]]></Config>
</DataType>