<?xml version="1.0" encoding="utf-8"?>
<DataType Key="11900da5-32a9-4627-8665-f1648bae51c3" Alias="Custom_NcLink2_Multiple" Level="2">
  <Info>
    <Name>Custom_NcLink2_Multiple</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Site</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "ncLink",
      "ncTabAlias": "Contents",
      "nameTemplate": ""
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>