<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a8b39061-17d7-4c9c-ac99-85d8185a6f65" Alias="Custom_PagePicker_4" Level="2">
  <Info>
    <Name>Custom_PagePicker_4</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Common</Folder>
  </Info>
  <Config><![CDATA[{
  "TreeSource": null,
  "Filter": null,
  "MinNumber": 0,
  "MaxNumber": 4,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>