<?xml version="1.0" encoding="utf-8"?>
<DataType Key="145dab44-137f-4b6a-bc82-20ce85ec1559" Alias="Custom_Easing" Level="2">
  <Info>
    <Name>Custom_Easing</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Site</Folder>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "swing"
    },
    {
      "id": 2,
      "value": "_default"
    },
    {
      "id": 3,
      "value": "linear"
    },
    {
      "id": 4,
      "value": "easeInQuad"
    },
    {
      "id": 5,
      "value": "easeOutQuad"
    },
    {
      "id": 6,
      "value": "easeInOutQuad"
    },
    {
      "id": 7,
      "value": "easeInCubic"
    },
    {
      "id": 8,
      "value": "easeOutCubic"
    },
    {
      "id": 9,
      "value": "easeInOutCubic"
    },
    {
      "id": 10,
      "value": "easeInQuart"
    },
    {
      "id": 11,
      "value": "easeOutQuart"
    },
    {
      "id": 12,
      "value": "easeInOutQuart"
    },
    {
      "id": 13,
      "value": "easeInQuint"
    },
    {
      "id": 14,
      "value": "easeOutQuint"
    },
    {
      "id": 15,
      "value": "easeInOutQuint"
    },
    {
      "id": 16,
      "value": "easeInExpo"
    },
    {
      "id": 17,
      "value": "easeOutExpo"
    },
    {
      "id": 18,
      "value": "easeInOutExpo"
    },
    {
      "id": 19,
      "value": "easeInSine"
    },
    {
      "id": 20,
      "value": "easeOutSine"
    },
    {
      "id": 21,
      "value": "easeInOutSine"
    },
    {
      "id": 22,
      "value": "easeInCirc"
    },
    {
      "id": 23,
      "value": "easeOutCirc"
    },
    {
      "id": 24,
      "value": "easeInOutCirc"
    },
    {
      "id": 25,
      "value": "easeInElastic"
    },
    {
      "id": 26,
      "value": "easeOutElastic"
    },
    {
      "id": 27,
      "value": "easeInOutElastic"
    },
    {
      "id": 28,
      "value": "easeInBack"
    },
    {
      "id": 29,
      "value": "easeOutBack"
    },
    {
      "id": 30,
      "value": "easeInOutBack"
    },
    {
      "id": 31,
      "value": "easeInBounce"
    },
    {
      "id": 32,
      "value": "easeOutBounce"
    },
    {
      "id": 33,
      "value": "easeInOutBounce"
    }
  ]
}]]></Config>
</DataType>