<?xml version="1.0" encoding="utf-8"?>
<DataType Key="015bd332-df35-41f5-a35f-a790f2fc7a37" Alias="Custom_ColumnLayout" Level="2">
  <Info>
    <Name>Custom_ColumnLayout</Name>
    <EditorAlias>Umbraco.Slider</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Site</Folder>
  </Info>
  <Config><![CDATA[{
  "EnableRange": false,
  "InitialValue": 3.0,
  "InitialValue2": 0.0,
  "MinimumValue": 2.0,
  "MaximumValue": 4.0,
  "StepIncrements": 1.0
}]]></Config>
</DataType>