<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fd0bee8f-d06f-4aed-9f46-524a8248d53d" Alias="Custom_CategoryPicker" Level="2">
  <Info>
    <Name>Custom_CategoryPicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Site</Folder>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": "$current/ancestor-or-self::pageBlogList/folderGenericCategories[1]",
    "id": null
  },
  "Filter": "dGenericCategoryItem",
  "MinNumber": 0,
  "MaxNumber": 0,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>