<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1b1cd0e2-1671-4d6f-86e5-42fe9aabe2ee" Alias="Custom_SectionEffectDirectionPicker" Level="2">
  <Info>
    <Name>Custom_SectionEffectDirectionPicker</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Site</Folder>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "Left"
    },
    {
      "id": 2,
      "value": "Right"
    },
    {
      "id": 3,
      "value": "Down"
    },
    {
      "id": 4,
      "value": "Up"
    }
  ]
}]]></Config>
</DataType>