<?xml version="1.0" encoding="utf-8"?>
<DataType Key="39e25a5c-8264-400c-a29d-beb349c09689" Alias="Custom_PagePicker2" Level="2">
  <Info>
    <Name>Custom_PagePicker2</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Site</Folder>
  </Info>
  <Config><![CDATA[{
  "TreeSource": null,
  "Filter": null,
  "MinNumber": 0,
  "MaxNumber": 1,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>