<?xml version="1.0" encoding="utf-8"?>
<DataType Key="eb0ecead-1e90-4836-ba3d-ab029ec65d21" Alias="Custom_IGCategoryPicker" Level="2">
  <Info>
    <Name>Custom_IGCategoryPicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Site</Folder>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": "$site//categoriesImageGallery[1]",
    "id": null
  },
  "Filter": "categoryImageGallery",
  "MinNumber": 0,
  "MaxNumber": 0,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>