<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f383ae6e-4d82-4ce3-bbc6-7fa3c4175c60" Alias="Custom_BlogTags" Level="2">
  <Info>
    <Name>Custom_BlogTags</Name>
    <EditorAlias>Umbraco.Tags</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Site</Folder>
  </Info>
  <Config><![CDATA[{
  "Group": "blogtags",
  "StorageType": 1,
  "Delimiter": "\u0000"
}]]></Config>
</DataType>