<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d1bffb5e-6b03-4d86-8d08-4648d3f2836c" Alias="Custom_DropdownCookieLevels" Level="2">
  <Info>
    <Name>Custom_DropdownCookieLevels</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Site</Folder>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "Essential"
    },
    {
      "id": 2,
      "value": "Statistics"
    },
    {
      "id": 3,
      "value": "Marketing"
    }
  ]
}]]></Config>
</DataType>