<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0f489d50-ed6b-4b1f-9968-d6454da31793" Alias="Custom_Nc_Widgets_Blog" Level="2">
  <Info>
    <Name>Custom_Nc_Widgets_Blog</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Site-NC</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "ncWidgetCategoriesList",
      "ncTabAlias": "Contents",
      "nameTemplate": "{{title}}"
    },
    {
      "ncAlias": "ncWidgetsRecentPosts",
      "ncTabAlias": "Contents",
      "nameTemplate": "{{title}}"
    },
    {
      "ncAlias": "ncWidgetPopularTags",
      "ncTabAlias": "Contents",
      "nameTemplate": "{{title}}"
    }
  ],
  "MinItems": null,
  "MaxItems": 3,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>