<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f3ebfb8c-63f7-4c6c-8dc6-008abc17991b" Alias="Custom_PagePicker2_Multiple" Level="2">
  <Info>
    <Name>Custom_PagePicker2_Multiple</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Site</Folder>
  </Info>
  <Config><![CDATA[{
  "TreeSource": null,
  "Filter": null,
  "MinNumber": 0,
  "MaxNumber": 0,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>