<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ea9c121b-e0bf-4101-a152-d7b57901de82" Alias="Custom_Nc_ProductMoreInfoItems" Level="2">
  <Info>
    <Name>Custom_Nc_ProductMoreInfoItems</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Site-NC</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "ncProductMoreInfoItem",
      "ncTabAlias": "Contents",
      "nameTemplate": "{{title}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>