@using Site.Core;

@inherits Umbraco.Web.Mvc.UmbracoViewPage

@{
    ConfigSocialLinks socialLinks = CachedNodes.GetSocialLinksNode();
}

<div class="col-md-3 col-md-offset-2 col-sm-4 col-xs-12">
    <ul class="social">
        @{
            foreach (NcSocialLink s in socialLinks.Items)
            {
                <li><a target="_blank" href="@s.Link"><i class="@s.Style" style="font-size:xxx-large;"></i></a></li>
            }
        }
    </ul>
</div>