<?xml version="1.0" encoding="utf-8"?>
<DataType Key="63a886fc-3f06-4168-90ef-10a5cdf0ca0f" Alias="BEClientLogoItems" Level="2">
  <Info>
    <Name>BEClientLogoItems</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Site-BE-Internal</Folder>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "580102b6-c8e2-4ad1-8ef8-f58feabeeaff",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "{{title}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": 1,
    "max": null
  },
  "UseLiveEditing": false,
  "UseInlineEditingAsDefault": true,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>