<?xml version="1.0" encoding="utf-8"?>
<DataType Key="55d26a30-0370-4acd-ab23-b97d129ccd6d" Alias="BEFaqItems" Level="2">
  <Info>
    <Name>BEFaqItems</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Site-BE-Internal</Folder>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "b06a05ce-d402-4e70-95ee-ae01b887d40b",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "{{question}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": 1,
    "max": null
  },
  "UseLiveEditing": false,
  "UseInlineEditingAsDefault": true,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>