<?xml version="1.0" encoding="utf-8"?>
<DataType Key="afafddd2-dac2-4ef2-98ab-28ac9c9b5f3f" Alias="BEServiceItems" Level="2">
  <Info>
    <Name>BEServiceItems</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Site-BE-Internal</Folder>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "9ca2179d-a41b-4d9a-b803-11ccc534dbef",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "{{title}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": 1,
    "max": null
  },
  "UseLiveEditing": false,
  "UseInlineEditingAsDefault": true,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>