<?xml version="1.0" encoding="utf-8"?>
<DataType Key="27bedf7b-6783-4528-b558-ff8bcea95bae" Alias="BETeamItems" Level="2">
  <Info>
    <Name>BETeamItems</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Site-BE-Internal</Folder>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "f4dcc426-b224-461b-84c2-351fc68dcd6a",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "{{teamMemberName}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": 1,
    "max": null
  },
  "UseLiveEditing": false,
  "UseInlineEditingAsDefault": true,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>