<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a96c442d-45ff-4375-94b5-3542fbbb84aa" Alias="Common_FilePicker_Mutiple" Level="2">
  <Info>
    <Name>Common_FilePicker_Mutiple</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Common</Folder>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "media",
    "query": null,
    "id": null
  },
  "Filter": null,
  "MinNumber": 0,
  "MaxNumber": 0,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>