<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2c0e240b-3762-4301-810d-194376566294" Alias="Common_OGPolicyPicker" Level="2">
  <Info>
    <Name>Common_OGPolicyPicker</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Common</Folder>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Home Page"
    },
    {
      "id": 2,
      "value": "Infer from Other Fields"
    },
    {
      "id": 3,
      "value": "Leave Empty"
    }
  ]
}]]></Config>
</DataType>