<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d3192f82-9b39-4076-bb7e-78bd0a5fb043" Alias="Common_NcNameValuePairItems_Multiple" Level="2">
  <Info>
    <Name>Common_NcNameValuePairItems_Multiple</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Common</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "ncNameValuePairItem",
      "ncTabAlias": "Contents",
      "nameTemplate": "{{nvName}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>