<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3c9f588d-5079-405e-8471-bf5c7f1e1836" Alias="Common_VariousImagePicker" Level="2">
  <Info>
    <Name>Common_VariousImagePicker</Name>
    <EditorAlias>Umbraco.MediaPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Common</Folder>
  </Info>
  <Config><![CDATA[{
  "Multiple": true,
  "OnlyImages": true,
  "DisableFolderSelect": true,
  "StartNodeId": null,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>