<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a75be3ae-c24f-4363-9215-1f84632536ce" Alias="Common_OgInherit" Level="2">
  <Info>
    <Name>Common_OgInherit</Name>
    <EditorAlias>Umbraco.CheckBoxList</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Common</Folder>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "OG Title"
    },
    {
      "id": 2,
      "value": "OG Description"
    },
    {
      "id": 3,
      "value": "OG Image"
    },
    {
      "id": 4,
      "value": "OG Type"
    },
    {
      "id": 5,
      "value": "Other Properties"
    }
  ]
}]]></Config>
</DataType>