<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6139d9fb-9cf3-47d8-9967-6261244522e7" Alias="Common_NcRedirectPicker" Level="2">
  <Info>
    <Name>Common_NcRedirectPicker</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Common</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "ncRedirectToFirstSubPage",
      "ncTabAlias": "Contents",
      "nameTemplate": ""
    },
    {
      "ncAlias": "ncRedirectToPage",
      "ncTabAlias": "Contents",
      "nameTemplate": ""
    },
    {
      "ncAlias": "ncRedirectToUrl",
      "ncTabAlias": "Contents",
      "nameTemplate": "{{redirectToUrl}}"
    }
  ],
  "MinItems": null,
  "MaxItems": 1,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>