<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1ecad946-216e-4625-9d34-c402dd4330f9" Alias="Common_NcLinkItems_Multiple" Level="2">
  <Info>
    <Name>Common_NcLinkItems_Multiple</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Common</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "ncExternalLinkItem",
      "ncTabAlias": "Contents",
      "nameTemplate": "{{caption}}"
    },
    {
      "ncAlias": "ncInternalLinkItem",
      "ncTabAlias": "Contents",
      "nameTemplate": "{{caption}}"
    },
    {
      "ncAlias": "ncFileLinkItem",
      "ncTabAlias": "Contents",
      "nameTemplate": "{{caption}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>