<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0b67941f-3dc1-45f4-b641-07f8e4420058" Alias="Common_ReusableElementsPicker" Level="2">
  <Info>
    <Name>Common_ReusableElementsPicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Common</Folder>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": null,
    "id": null
  },
  "Filter": null,
  "MinNumber": 0,
  "MaxNumber": 0,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>