<?xml version="1.0" encoding="utf-8"?>
<DataType Key="86ef9dc5-11c4-4a70-ac82-9fc21ff2a7bf" Alias="Custom_MultiTextBox" Level="2">
  <Info>
    <Name>Custom_MultiTextBox</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Site</Folder>
  </Info>
  <Config><![CDATA[{
  "Minimum": 0,
  "Maximum": 0
}]]></Config>
</DataType>