<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f2b8647e-21a0-43fd-a99a-5b04b7a56f45" Alias="Custom_Mtb" Level="2">
  <Info>
    <Name>Custom_Mtb</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Site</Folder>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "0"
    },
    {
      "id": 2,
      "value": "15"
    },
    {
      "id": 3,
      "value": "60"
    },
    {
      "id": 4,
      "value": "80"
    }
  ]
}]]></Config>
</DataType>