<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5bc1bf2b-3b32-455a-ac86-22cf279bc29a" Alias="Custom_Nc_PortfolioCustomFieldItems" Level="2">
  <Info>
    <Name>Custom_Nc_PortfolioCustomFieldItems</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Site-NC</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "ncPortfolioCustomFieldItem",
      "ncTabAlias": "Contents",
      "nameTemplate": "{{field}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>