<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6bcaacdf-e181-469b-a3b1-7c9641ffcc3b" Alias="Custom_BlogAuthorPicker" Level="2">
  <Info>
    <Name>Custom_BlogAuthorPicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Site</Folder>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": "$current/ancestor-or-self::pageBlogList/folderAuthors[1]",
    "id": null
  },
  "Filter": "pageBlogAuthor",
  "MinNumber": 0,
  "MaxNumber": 0,
  "ShowOpen": true,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>