<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5eaea5c8-60f6-42e8-b6db-28f422c94f6e" Alias="Custom_LeftRight" Level="2">
  <Info>
    <Name>Custom_LeftRight</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Site</Folder>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Left"
    },
    {
      "id": 2,
      "value": "Right"
    }
  ]
}]]></Config>
</DataType>