<?xml version="1.0" encoding="utf-8"?>
<DataType Key="74121832-a219-40a7-afa6-ed27be77affd" Alias="Custom_NcSliderImages" Level="2">
  <Info>
    <Name>Custom_NcSliderImages</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Site-NC</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "ncSliderImage",
      "ncTabAlias": "Contents",
      "nameTemplate": "{{title}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>