<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1c11f85f-5e1a-4cb8-8d90-31b4d2669cbc" Alias="Custom_Ptb_Xs" Level="2">
  <Info>
    <Name>Custom_Ptb_Xs</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Site</Folder>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "30"
    },
    {
      "id": 2,
      "value": "60"
    }
  ]
}]]></Config>
</DataType>