<?xml version="1.0" encoding="utf-8"?>
<DataType Key="342a82ca-142b-4246-a47b-10c28d04cbb2" Alias="Custom_IonPicker" Level="2">
  <Info>
    <Name>Custom_IonPicker</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Site</Folder>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "ion-alert"
    },
    {
      "id": 2,
      "value": "ion-android-alarm-clock"
    }
  ]
}]]></Config>
</DataType>