<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a75787cd-85cf-44c6-806b-77e831b01034" Alias="Custom_Nc_ImageGallery" Level="2">
  <Info>
    <Name>Custom_Nc_ImageGallery</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Site-NC</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "ncImageGalleryItem",
      "ncTabAlias": "Contents",
      "nameTemplate": "{{title}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>