<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e1680fe2-8e26-4695-8ca5-e2bc0eca8420" Alias="Custom_FlexSliderAnimation" Level="2">
  <Info>
    <Name>Custom_FlexSliderAnimation</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Site</Folder>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "slide"
    },
    {
      "id": 2,
      "value": "fade"
    }
  ]
}]]></Config>
</DataType>