<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8dc8f676-c1f2-4f16-a5ff-bc182122538f" Alias="Custom_Direction" Level="2">
  <Info>
    <Name>Custom_Direction</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Site</Folder>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "horizontal"
    },
    {
      "id": 2,
      "value": "vertical"
    }
  ]
}]]></Config>
</DataType>