<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d7f1b06a-aeff-4f85-abdd-71f7d13eb38c" Alias="Custom_PropertyPicker_TextProperties" Level="2">
  <Info>
    <Name>Custom_PropertyPicker_TextProperties</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Common</Folder>
  </Info>
  <Config><![CDATA[{
  "ValueType": "STRING"
}]]></Config>
</DataType>