<?xml version="1.0" encoding="utf-8"?>
<DataType Key="734dea28-e8cf-4012-a1d7-35f236abf4f5" Alias="Custom_RelatedProductsPicker" Level="2">
  <Info>
    <Name>Custom_RelatedProductsPicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Site</Folder>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": null,
    "id": null
  },
  "Filter": "pageProduct",
  "MinNumber": 0,
  "MaxNumber": 0,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>