<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9ca93959-0859-47d3-a261-3ecada638d8c" Alias="Custom_Ptb_Sm" Level="2">
  <Info>
    <Name>Custom_Ptb_Sm</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Site</Folder>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "0"
    },
    {
      "id": 2,
      "value": "30"
    },
    {
      "id": 3,
      "value": "60"
    },
    {
      "id": 4,
      "value": "80"
    }
  ]
}]]></Config>
</DataType>