<?xml version="1.0" encoding="utf-8"?>
<DataType Key="19c60ea9-7268-40eb-80e6-09ac7fecd0e9" Alias="Custom_SectionTeamLayout" Level="2">
  <Info>
    <Name>Custom_SectionTeamLayout</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Site</Folder>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Slider"
    },
    {
      "id": 2,
      "value": "Grid"
    }
  ]
}]]></Config>
</DataType>