<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5587cc21-ffbd-4b88-bcf4-8606ab2b6247" Alias="Custom_TitleSize" Level="2">
  <Info>
    <Name>Custom_TitleSize</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Site</Folder>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "Normal"
    },
    {
      "id": 2,
      "value": "Small"
    },
    {
      "id": 3,
      "value": "Extra Small"
    },
    {
      "id": 4,
      "value": "Tiny"
    }
  ]
}]]></Config>
</DataType>