<?xml version="1.0" encoding="utf-8"?>
<DataType Key="acfca9e2-0df5-4c9b-bb42-18886a54f5a9" Alias="Custom_ImageSizeSlider" Level="2">
  <Info>
    <Name>Custom_ImageSizeSlider</Name>
    <EditorAlias>Umbraco.Slider</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Site</Folder>
  </Info>
  <Config><![CDATA[{
  "EnableRange": false,
  "InitialValue": 80.0,
  "InitialValue2": 0.0,
  "MinimumValue": 20.0,
  "MaximumValue": 400.0,
  "StepIncrements": 20.0
}]]></Config>
</DataType>