<?xml version="1.0" encoding="utf-8"?>
<DataType Key="eb62a9c2-3d74-455a-9d9e-cb91b54a2549" Alias="Custom_BlogListItemsPerRow" Level="2">
  <Info>
    <Name>Custom_BlogListItemsPerRow</Name>
    <EditorAlias>Umbraco.Slider</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Site</Folder>
  </Info>
  <Config><![CDATA[{
  "EnableRange": false,
  "InitialValue": 1.0,
  "InitialValue2": 0.0,
  "MinimumValue": 1.0,
  "MaximumValue": 3.0,
  "StepIncrements": 1.0
}]]></Config>
</DataType>