<?xml version="1.0" encoding="utf-8"?>
<DataType Key="47f65929-1ccc-4ef0-bdff-9f980d91f1f7" Alias="Custom_SpeedMs" Level="2">
  <Info>
    <Name>Custom_SpeedMs</Name>
    <EditorAlias>Umbraco.Slider</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Site</Folder>
  </Info>
  <Config><![CDATA[{
  "EnableRange": false,
  "InitialValue": 0.0,
  "InitialValue2": 0.0,
  "MinimumValue": 0.0,
  "MaximumValue": 10000.0,
  "StepIncrements": 20.0
}]]></Config>
</DataType>