<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e0c93a49-48d6-4637-8286-1b58671b3c0e" Alias="Intros Block Picker" Level="2">
  <Info>
    <Name>Intros Block Picker</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Site-BE</Folder>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": "~/Content/sectionimg/intro_heroimageslider.png",
      "contentElementTypeKey": "7764fa8f-b724-4f8f-ad36-cbe30b8dac9f",
      "settingsElementTypeKey": "01e2b00a-8af4-4068-9eea-38b770679493",
      "view": "~/App_Plugins/Blocks/GenericBlockView.html",
      "stylesheet": null,
      "label": null,
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": "~/Content/sectionimg/intro_imageslider.png",
      "contentElementTypeKey": "af70a92c-2f72-4e68-8a09-e76a4767437d",
      "settingsElementTypeKey": "65b9f748-394e-4409-bafa-3d610d9f1f49",
      "view": "~/App_Plugins/Blocks/GenericBlockView.html",
      "stylesheet": null,
      "label": null,
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": "~/Content/sectionimg/intro_staticimage.png",
      "contentElementTypeKey": "00735116-3206-414e-9d3c-c625a3789646",
      "settingsElementTypeKey": "8bb3ad0e-a4b0-43a7-baa8-6ca1fe5ae6e3",
      "view": "~/App_Plugins/Blocks/GenericBlockView.html",
      "stylesheet": null,
      "label": null,
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": "~/Content/sectionimg/intro_video.png",
      "contentElementTypeKey": "b2215b8f-d2b5-404b-b279-ab0f7382f2a6",
      "settingsElementTypeKey": "66d48d60-796f-42fb-bb62-7ad1e95ad5c0",
      "view": "~/App_Plugins/Blocks/GenericBlockView.html",
      "stylesheet": null,
      "label": null,
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "UseLiveEditing": false,
  "UseInlineEditingAsDefault": false,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>