<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7e78dc6f-d557-4bc2-952e-cb865ee14977" Alias="MultiColBlocks" Level="2">
  <Info>
    <Name>MultiColBlocks</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Site-BE</Folder>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": "~/Content/sectionimg/MultiColAccordionSection.png",
      "contentElementTypeKey": "57c24069-4a8b-45ae-aeab-23e079be9712",
      "settingsElementTypeKey": "618c83b8-ca75-48ee-b69c-f1d7cd2b6d55",
      "view": null,
      "stylesheet": null,
      "label": "{{sectionTitle}}",
      "editorSize": "large",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": "~/Content/sectionimg/MultiColFaqSection.png",
      "contentElementTypeKey": "d99c3069-f106-47bc-998f-5747540edbac",
      "settingsElementTypeKey": "a0a09396-043e-470a-a28c-20cd877ff9aa",
      "view": null,
      "stylesheet": null,
      "label": null,
      "editorSize": "large",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": "~/Content/sectionimg/MultiColPercentagesSection.png",
      "contentElementTypeKey": "fd1bbf4b-68ee-43df-acbb-0d317401df87",
      "settingsElementTypeKey": "5a1c11da-c430-4a25-8821-b2362212671a",
      "view": null,
      "stylesheet": null,
      "label": null,
      "editorSize": "large",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": "~/Content/sectionimg/MultiColTextSection.png",
      "contentElementTypeKey": "ba02a3fd-14ce-4ef3-9201-2195cdfae40d",
      "settingsElementTypeKey": "8569fe0c-6fd8-49e2-9bb3-b665db739e84",
      "view": null,
      "stylesheet": null,
      "label": "{{sectionTitle}}",
      "editorSize": "large",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": 1,
    "max": null
  },
  "UseLiveEditing": false,
  "UseInlineEditingAsDefault": false,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>