<?xml version="1.0" encoding="utf-8"?>
<DataType Key="723a61d4-51b0-4b42-a729-6c4235b6edfd" Alias="Sections Block Picker" Level="2">
  <Info>
    <Name>Sections Block Picker</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Site-BE</Folder>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": "",
      "iconColor": null,
      "thumbnail": "~/Content/sectionimg/accordion.png",
      "contentElementTypeKey": "57c24069-4a8b-45ae-aeab-23e079be9712",
      "settingsElementTypeKey": "618c83b8-ca75-48ee-b69c-f1d7cd2b6d55",
      "view": "~/App_Plugins/Blocks/GenericBlockView.html",
      "stylesheet": null,
      "label": "{{sectionTitle}}",
      "editorSize": "large",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": "",
      "iconColor": null,
      "thumbnail": "~/Content/sectionimg/actionbox.png",
      "contentElementTypeKey": "8adf066e-76c1-4285-a288-61cd5f538ddb",
      "settingsElementTypeKey": "998a6065-68dc-41b8-8ebf-976602462483",
      "view": "~/App_Plugins/Blocks/GenericBlockView.html",
      "stylesheet": null,
      "label": "{{sectionTitle}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": "~/Content/sectionimg/clientlogos.png",
      "contentElementTypeKey": "7f5898bb-c9f4-4794-9339-d87720ffe784",
      "settingsElementTypeKey": "334f271c-fa4a-4db6-8df2-c80e0c73018f",
      "view": "~/App_Plugins/Blocks/GenericBlockView.html",
      "stylesheet": null,
      "label": "{{sectionTitle}}",
      "editorSize": "large",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": "~/Content/sectionimg/contact.png",
      "contentElementTypeKey": "6d7563e7-369f-41db-88ea-c0ab51c63903",
      "settingsElementTypeKey": "e9e34059-41b3-4b22-99c9-869de5f3f595",
      "view": "~/App_Plugins/Blocks/GenericBlockView.html",
      "stylesheet": null,
      "label": "{{sectionTitle}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": "~/Content/sectionimg/contentslider.png",
      "contentElementTypeKey": "59097d4c-12db-4428-9f89-002dd1d9a2a7",
      "settingsElementTypeKey": "e0fd5b0a-e9ee-45a4-8cc0-fa436e15c623",
      "view": "~/App_Plugins/Blocks/GenericBlockView.html",
      "stylesheet": null,
      "label": "{{sectionTitle}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": "~/Content/sectionimg/counters.png",
      "contentElementTypeKey": "87149ae4-d4dd-46b4-98cc-af1a927f2f28",
      "settingsElementTypeKey": "e735de90-2cd3-4568-a724-f3bc17590d7b",
      "view": "~/App_Plugins/Blocks/GenericBlockView.html",
      "stylesheet": null,
      "label": "{{sectionTitle}}",
      "editorSize": "large",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": "~/Content/sectionimg/faqtabbed.png",
      "contentElementTypeKey": "d89ee708-5875-4c1a-aef6-27da51d43602",
      "settingsElementTypeKey": "21e395b0-3483-4330-93d2-a966effec4ef",
      "view": "~/App_Plugins/Blocks/GenericBlockView.html",
      "stylesheet": null,
      "label": "{{sectionTitle}}",
      "editorSize": "large",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": "~/Content/sectionimg/faq.png",
      "contentElementTypeKey": "d99c3069-f106-47bc-998f-5747540edbac",
      "settingsElementTypeKey": "a0a09396-043e-470a-a28c-20cd877ff9aa",
      "view": "~/App_Plugins/Blocks/GenericBlockView.html",
      "stylesheet": null,
      "label": "{{sectionTitle}}",
      "editorSize": "large",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": "~/Content/sectionimg/features.png",
      "contentElementTypeKey": "99c0392b-835f-4a7b-b020-4083d158dc0d",
      "settingsElementTypeKey": "47ad83f7-ce8a-431d-8c9f-5a19c866a052",
      "view": "~/App_Plugins/Blocks/GenericBlockView.html",
      "stylesheet": null,
      "label": "{{sectionTitle}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": "~/Content/sectionimg/ImageBannerSection.png",
      "contentElementTypeKey": "a7298666-ca3d-4265-9387-01e17e4eca92",
      "settingsElementTypeKey": "40704fc8-d7f0-460a-b364-02dae053ebd9",
      "view": "~/App_Plugins/Blocks/GenericBlockView.html",
      "stylesheet": null,
      "label": "{{sectionTitle}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": "~/Content/sectionimg/ImageGalleryExample.png",
      "contentElementTypeKey": "c14d54ef-0e44-4f40-95e1-86d4a216c6fd",
      "settingsElementTypeKey": "77ace462-a163-4c0e-bfb6-c49697ce8308",
      "view": "~/App_Plugins/Blocks/GenericBlockView.html",
      "stylesheet": null,
      "label": "{{sectionTitle}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": "~/Content/sectionimg/ImageTextSection.png",
      "contentElementTypeKey": "fae7e903-275f-4a2f-802f-d14535e0724f",
      "settingsElementTypeKey": "ad884d02-5c77-4cd4-8904-c860c31f369b",
      "view": "~/App_Plugins/Blocks/GenericBlockView.html",
      "stylesheet": null,
      "label": "{{sectionTitle}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": "~/Content/sectionimg/TextSection.png",
      "contentElementTypeKey": "ba02a3fd-14ce-4ef3-9201-2195cdfae40d",
      "settingsElementTypeKey": "8569fe0c-6fd8-49e2-9bb3-b665db739e84",
      "view": "~/App_Plugins/Blocks/GenericBlockView.html",
      "stylesheet": null,
      "label": "{{sectionTitle}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": "~/Content/sectionimg/percentages.png",
      "contentElementTypeKey": "fd1bbf4b-68ee-43df-acbb-0d317401df87",
      "settingsElementTypeKey": "5a1c11da-c430-4a25-8821-b2362212671a",
      "view": "~/App_Plugins/Blocks/GenericBlockView.html",
      "stylesheet": null,
      "label": "{{sectionTitle}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": "~/Content/sectionimg/pricing.png",
      "contentElementTypeKey": "32d8f9a8-8c12-4ae7-8285-e969e47ce890",
      "settingsElementTypeKey": "5b14f1cc-3901-47a5-aafa-904c139f8de9",
      "view": "~/App_Plugins/Blocks/GenericBlockView.html",
      "stylesheet": null,
      "label": "{{sectionTitle}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": "~/Content/sectionimg/process.png",
      "contentElementTypeKey": "96662765-7734-4189-a0cf-85eb2a4ae0c3",
      "settingsElementTypeKey": "9054e2b7-0060-468e-99b6-eb1d8aaff0eb",
      "view": "~/App_Plugins/Blocks/GenericBlockView.html",
      "stylesheet": null,
      "label": "{{sectionTitle}}",
      "editorSize": "large",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": "~/Content/sectionimg/services.png",
      "contentElementTypeKey": "2e62e7f9-f281-4098-98f1-f4a024241c2a",
      "settingsElementTypeKey": "2a377d23-9dde-4862-adf9-457a45714317",
      "view": "~/App_Plugins/Blocks/GenericBlockView.html",
      "stylesheet": null,
      "label": "{{sectionTitle}}",
      "editorSize": "large",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": "~/Content/sectionimg/statement.png",
      "contentElementTypeKey": "ecfd7fe9-2201-4c52-bc4a-471868aefa31",
      "settingsElementTypeKey": "ba0a31b5-4b05-41c5-a131-71aabb5ad8c2",
      "view": "~/App_Plugins/Blocks/GenericBlockView.html",
      "stylesheet": null,
      "label": "{{sectionTitle}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": "~/Content/sectionimg/team.png",
      "contentElementTypeKey": "1b6442b8-7f88-4410-b665-4920e626cc20",
      "settingsElementTypeKey": "ccb12c0a-e9bf-4e30-b1fa-e67193a35b6a",
      "view": "~/App_Plugins/Blocks/GenericBlockView.html",
      "stylesheet": null,
      "label": "{{sectionTitle}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": "~/Content/sectionimg/testimonial.png",
      "contentElementTypeKey": "405a82cb-5530-4288-a8c5-a3b7ba2479b0",
      "settingsElementTypeKey": "5697db66-f152-49d3-aee2-526b31c04e90",
      "view": "~/App_Plugins/Blocks/GenericBlockView.html",
      "stylesheet": null,
      "label": "{{sectionTitle}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": "~/Content/sectionimg/multicol.png",
      "contentElementTypeKey": "430d6f2d-0636-4b69-bd0b-2e3f258cfafe",
      "settingsElementTypeKey": "02d0836e-e7f8-4d09-9e9e-1459543d7cdf",
      "view": "~/App_Plugins/Blocks/GenericBlockView.html",
      "stylesheet": null,
      "label": "{{sectionTitle}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": "~/Content/sectionimg/simpleimagegallery.png",
      "contentElementTypeKey": "7fe5b715-1a1c-4ead-b91a-801d0d50e917",
      "settingsElementTypeKey": "d0c93621-56ca-4a4c-9a0b-df0f23a067dd",
      "view": "~/App_Plugins/Blocks/GenericBlockView.html",
      "stylesheet": null,
      "label": "{{sectionTitle}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "UseLiveEditing": false,
  "UseInlineEditingAsDefault": false,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>