<?xml version="1.0" encoding="utf-8"?>
<Content Key="2d9a0901-a34a-4617-be05-565e4b91b349" Alias="Cookie Settings" Level="3">
  <Info>
    <Parent Key="60de4e1a-2132-42a0-a8d0-b08c2d386682">Settings</Parent>
    <Path>/WelcomeToTheUMazelStarterKit/Settings/CookieSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>configCookieSettings</ContentType>
    <CreateDate>2021-05-13T23:23:18</CreateDate>
    <NodeName Default="Cookie Settings">
      <Name Culture="en-us">Cookie Settings</Name>
    </NodeName>
    <SortOrder>6</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <allowAllButtonText>
      <Value><![CDATA[]]></Value>
    </allowAllButtonText>
    <allowNoneButtonText>
      <Value><![CDATA[]]></Value>
    </allowNoneButtonText>
    <backgroundColor>
      <Value><![CDATA[]]></Value>
    </backgroundColor>
    <buttonsColor>
      <Value><![CDATA[]]></Value>
    </buttonsColor>
    <cookiesPageURL>
      <Value><![CDATA[]]></Value>
    </cookiesPageURL>
    <disableCookieConsent>
      <Value><![CDATA[]]></Value>
    </disableCookieConsent>
    <message>
      <Value><![CDATA[]]></Value>
    </message>
    <moreInfoButtonText>
      <Value><![CDATA[]]></Value>
    </moreInfoButtonText>
    <textColor>
      <Value><![CDATA[]]></Value>
    </textColor>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
  </Properties>
</Content>