<?xml version="1.0" encoding="utf-8"?>
<Content Key="814c9ef5-ce12-46eb-9360-39e6db38633f" Alias="Image Galleries Categories" Level="3">
  <Info>
    <Parent Key="60de4e1a-2132-42a0-a8d0-b08c2d386682">Settings</Parent>
    <Path>/WelcomeToTheUMazelStarterKit/Settings/ImageGalleriesCategories</Path>
    <Trashed>false</Trashed>
    <ContentType>categoriesImageGallery</ContentType>
    <CreateDate>2021-05-13T23:23:17</CreateDate>
    <NodeName Default="Image Galleries Categories">
      <Name Culture="en-us">Image Galleries Categories</Name>
    </NodeName>
    <SortOrder>5</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>