<?xml version="1.0" encoding="utf-8"?>
<Content Key="8ccec333-3ad7-4570-9849-ed23686a61b7" Alias="Menu and Footer Settings" Level="3">
  <Info>
    <Parent Key="60de4e1a-2132-42a0-a8d0-b08c2d386682">Settings</Parent>
    <Path>/WelcomeToTheUMazelStarterKit/Settings/MenuAndFooterSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>configMenuAndFooterSettings</ContentType>
    <CreateDate>2021-05-13T23:23:12</CreateDate>
    <NodeName Default="Menu and Footer Settings">
      <Name Culture="en-us">Menu and Footer Settings</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <copyrightText>
      <Value><![CDATA[]]></Value>
    </copyrightText>
    <footerAddress>
      <Value><![CDATA[]]></Value>
    </footerAddress>
    <footerEmail>
      <Value><![CDATA[]]></Value>
    </footerEmail>
    <footerImage>
      <Value><![CDATA[]]></Value>
    </footerImage>
    <footerImageLink>
      <Value><![CDATA[]]></Value>
    </footerImageLink>
    <footerPageLinksCol1>
      <Value><![CDATA[]]></Value>
    </footerPageLinksCol1>
    <footerPageLinksCol2>
      <Value><![CDATA[]]></Value>
    </footerPageLinksCol2>
    <footerTel>
      <Value><![CDATA[]]></Value>
    </footerTel>
    <footerTextOnTheLeft>
      <Value><![CDATA[]]></Value>
    </footerTextOnTheLeft>
    <generateAutomatically>
      <Value><![CDATA[]]></Value>
    </generateAutomatically>
    <hideBreadcrumbs>
      <Value><![CDATA[]]></Value>
    </hideBreadcrumbs>
    <menuItems>
      <Value><![CDATA[]]></Value>
    </menuItems>
    <swapRows>
      <Value><![CDATA[]]></Value>
    </swapRows>
  </Properties>
</Content>