<?xml version="1.0" encoding="utf-8"?>
<Content Key="4a62714c-8a32-4b80-91db-1de0c7bcdf68" Alias="Script Settings" Level="3">
  <Info>
    <Parent Key="60de4e1a-2132-42a0-a8d0-b08c2d386682">Settings</Parent>
    <Path>/WelcomeToTheUMazelStarterKit/Settings/ScriptSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>configScriptSettings</ContentType>
    <CreateDate>2021-05-13T23:23:11</CreateDate>
    <NodeName Default="Script Settings">
      <Name Culture="en-us">Script Settings</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <scriptAfterBodyStart>
      <Value><![CDATA[]]></Value>
    </scriptAfterBodyStart>
    <scriptBeforeBodyEnd>
      <Value><![CDATA[]]></Value>
    </scriptBeforeBodyEnd>
    <scriptInHeadElement>
      <Value><![CDATA[]]></Value>
    </scriptInHeadElement>
  </Properties>
</Content>