<?xml version="1.0" encoding="utf-8"?>
<Content Key="14d0199c-f2c7-4dcf-9ac2-4c16179d1a7c" Alias="Sitemap" Level="2">
  <Info>
    <Parent Key="df759d8c-e261-4530-bf84-f6397369077d">Welcome to the uMazel Starter Kit</Parent>
    <Path>/WelcomeToTheUMazelStarterKit/Sitemap</Path>
    <Trashed>false</Trashed>
    <ContentType>pageSiteMap</ContentType>
    <CreateDate>2021-05-13T23:23:20</CreateDate>
    <NodeName Default="Sitemap">
      <Name Culture="en-us">Sitemap</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="52ce2f42-92d9-4e52-88c9-5a517c478be5">SitemapPage</Template>
  </Info>
  <Properties />
</Content>