<?xml version="1.0" encoding="utf-8"?>
<Content Key="fb73286c-6fd2-419c-96a5-099c5f53b08f" Alias="Social Links" Level="3">
  <Info>
    <Parent Key="60de4e1a-2132-42a0-a8d0-b08c2d386682">Settings</Parent>
    <Path>/WelcomeToTheUMazelStarterKit/Settings/SocialLinks</Path>
    <Trashed>false</Trashed>
    <ContentType>configSocialLinks</ContentType>
    <CreateDate>2021-05-13T23:23:13</CreateDate>
    <NodeName Default="Social Links">
      <Name Culture="en-us">Social Links</Name>
    </NodeName>
    <SortOrder>3</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <items>
      <Value><![CDATA[]]></Value>
    </items>
  </Properties>
</Content>