<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="5a0ed00d-68fe-4447-85cf-12cd22221a67" Alias="Misc.CookieDialogMessage" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">For a better experience of your website you can use cookies. By clicking “Allow All” you consent to install all cookies and by clicking “Allow None” no cookies will be installed except the essential operational cookies, required for the proper function of your webpage. You can also configure all text, button captions, color styles and more considering this dialog.</Translation>
  </Translations>
</Dictionary>