<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="7ce8d84b-a5fd-421a-9365-ec8b96cbe714" Alias="Newsletter.SubmissionError" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Oops. An error occurred during submission. Please try again later.</Translation>
  </Translations>
</Dictionary>