<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="b280efa5-7a01-44d0-b269-9d76a8e1eb63" Alias="Newsletter.Email.Invalid" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">This email is not recognized as a valid email address.</Translation>
  </Translations>
</Dictionary>