<?xml version="1.0" encoding="utf-8"?>
<Media Key="a57a646a-0f14-4331-9109-8f9799af5cdd" Alias="gradient_dark.jpg" Level="2">
  <Info>
    <Parent Key="c4fb2c1a-ad42-4b84-b99d-1e72b2fa013f">Sample Media</Parent>
    <Path>/SampleMedia/gradient_darkJpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2021-05-13T23:23:07</CreateDate>
    <NodeName Default="gradient_dark.jpg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/vv5hlltw/gradient_dark.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>