<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="7acb3939-7d73-421a-9445-f182756748a9" Alias="Abstractlink" Level="1">
  <Info>
    <Name>AbstractLink</Name>
    <Icon>icon-checkbox-dotted color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>84073518-ba5a-4308-8754-20c66196a627</Key>
      <Name>External Link</Name>
      <Alias>externalLink</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Optional link to an external page. External link always opens in a new window. External link OVERRIDES internal link in case it is also set.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Link</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d170cf27-9a71-4997-8fd1-9fcdfb6f272d</Key>
      <Name>Internal Link</Name>
      <Alias>internalLink</Alias>
      <Definition>19aacf4b-0e7e-44cd-8064-555a5940bd88</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Link to a page on your site]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Link</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Link</Caption>
      <SortOrder>20</SortOrder>
    </Tab>
  </Tabs>
</ContentType>