<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="fe822b8a-2bf8-4e1a-b3cf-45ed731085e7" Alias="abstractSectionLayoutBlock" Level="2">
  <Info>
    <Name>Abstract Section Layout Block</Name>
    <Icon>icon-checkbox-dotted color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <Folder>Site-AbstractBlocks</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>9bf64888-d6e5-4c39-a682-d6366c52d0c9</Key>
      <Name>Section Margin</Name>
      <Alias>sectionMargin</Alias>
      <Definition>f2b8647e-21a0-43fd-a99a-5b04b7a56f45</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[If not set, padding will be defined by default settings]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Layout</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>414055a3-3b7c-479e-a65c-44dd169ef27d</Key>
      <Name>Section Margin (Extra Small Screens)</Name>
      <Alias>sectionMarginExtraSmallScreens</Alias>
      <Definition>5dd1dca7-5799-41a6-b907-d3fbbbaad34b</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[If not set, padding will be defined by default settings]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>Layout</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8b9a6db4-a564-4f9d-8961-2d8b306a6afc</Key>
      <Name>Section Margin (Mobile)</Name>
      <Alias>sectionMarginMobile</Alias>
      <Definition>f2b8647e-21a0-43fd-a99a-5b04b7a56f45</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[If not set, padding will be defined by default settings]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Layout</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6505777b-a959-4d27-861b-267c50ba235e</Key>
      <Name>Section Padding</Name>
      <Alias>sectionPadding</Alias>
      <Definition>bef50be7-188b-4469-926e-9400dc8f1f0c</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[If not set, padding will be defined by default settings]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Layout</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9b7caa83-8c74-4ac7-92dc-bace2572d6d2</Key>
      <Name>Section Padding (Extra Small Screens)</Name>
      <Alias>sectionPaddingExtraSmallScreens</Alias>
      <Definition>1c11f85f-5e1a-4cb8-8d90-31b4d2669cbc</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[If not set, padding will be defined by default settings]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Layout</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>09edf4c3-bfc2-4e8f-bbb2-7e3ea76abe6e</Key>
      <Name>Section Padding (Mobile)</Name>
      <Alias>sectionPaddingMobile</Alias>
      <Definition>9ca93959-0859-47d3-a261-3ecada638d8c</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[If not set, padding will be defined by default settings]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Layout</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Layout</Caption>
      <SortOrder>1000</SortOrder>
    </Tab>
  </Tabs>
</ContentType>