<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="2e9b4d55-333a-4ff1-bacb-91290a54a98b" Alias="abstractConfigNode" Level="2">
  <Info>
    <Name>(Common) Abstract Config Node</Name>
    <Icon>icon-checkbox-dotted color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Common-Abstracts</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>