<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="8dbf853e-3ee9-487a-b313-92fdca26a9fa" Alias="abstractIntroSectionBlock" Level="2">
  <Info>
    <Name>(Common) Abstract Intro Section Block</Name>
    <Icon>icon-checkbox-dotted color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <Folder>Common-AbstractBlocks</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>43e0017f-0ab4-4f93-b246-3633843870dc</Key>
      <Name>Light Top Menu</Name>
      <Alias>lightTopMenu</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enable this to have menu color in white]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Top Menu</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Top Menu</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>