<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c4a66759-445b-496e-948a-3e4406270020" Alias="abstractPageSections" Level="2">
  <Info>
    <Name>(Common) Abstract Page Sections</Name>
    <Icon>icon-checkbox-dotted color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <Folder>Common-Abstracts</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>3a143e53-d337-40a8-917a-916772e2920f</Key>
      <Name>Intro Section</Name>
      <Alias>introSection</Alias>
      <Definition>e0c93a49-48d6-4637-8286-1b58671b3c0e</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Sections</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e273a736-4b23-469f-8cfe-1acf4869625a</Key>
      <Name>Sections</Name>
      <Alias>sections</Alias>
      <Definition>723a61d4-51b0-4b42-a729-6c4235b6edfd</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Sections</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Sections</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>