<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9bc49727-08ba-4127-aafb-c09079bc3024" Alias="abstractPage" Level="2">
  <Info>
    <Name>(Common) Abstract Page</Name>
    <Icon>icon-checkbox-dotted color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <Folder>Common-Abstracts</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>440b766b-2f87-4a95-9649-ed03c0ed7910</Key>
      <Name>Alternate Breadcrumb Page Title</Name>
      <Alias>altTitleBreadcrumb</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[If defined and there is a breadcrumb present, this title will be used instead of the normal node title.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Titles</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>bdbb2076-9f4f-4e11-9ca9-688ec44497b4</Key>
      <Name>Alternate Internal Page Title</Name>
      <Alias>altTitleInternal</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[If defined, it will be used for the page title when viewing the page, overriding the normal node title.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Titles</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d34514b2-7403-4b77-ad84-e096425982cc</Key>
      <Name>Alternate Page Title for Menus</Name>
      <Alias>altTitleMenu</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[If defined, this will be used in menus, overriding the normal node title. A "menu" is a broad definition, so usually this will be in effect wherever a list of page names acts as a navigation tool.]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Titles</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3552fc18-ce91-49f7-b065-6e983999e5bf</Key>
      <Name>Browser Title Override</Name>
      <Alias>browserTitleOverride</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[If you leave this empty, the title appearing in the browser's tab will  be the page name (or the value of the Title Override field, if filled), suffixed by the Site Name or not depending on your settings.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Titles</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>88ed8d49-23bc-4abb-b09c-831eb0dfca7a</Key>
      <Name>Code After Body Start</Name>
      <Alias>codeAfterBodyStart</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Page Specific Scripts and Code</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c5fdd7c5-0a6a-4e51-a322-9a17367986b6</Key>
      <Name>Code Before Body End</Name>
      <Alias>codeBeforeBodyEnd</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Page Specific Scripts and Code</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>293db58c-bd21-4ce8-b5db-8fbaac5d69c8</Key>
      <Name>Code in Head Element</Name>
      <Alias>codeInHeadElement</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Page Specific Scripts and Code</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>55589842-5be4-46db-953b-2b9b5f7ebc1a</Key>
      <Name>Hide from Footer</Name>
      <Alias>hideFromFooter</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Check if you need to exclude this page from any footer links (provided that it normally appears there)]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Navigation</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>af043c92-e130-48d8-b709-e76483831901</Key>
      <Name>Hide from Search Results</Name>
      <Alias>hideFromSearchResults</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Check this to prevent this page from appearing in search results in case your site features search functionality]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Search</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>730bc2cd-66a5-4f2a-bbc2-e6297f566e8f</Key>
      <Name>Hide in Sitemap</Name>
      <Alias>hideInSitemap</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Check this box if you don't want the page to appear in the XML Sitemap]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Sitemap</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>95636422-e948-4fe4-ace9-9e77f76ee583</Key>
      <Name>Hide Whole Hierarchy from Search Results</Name>
      <Alias>hideWholeHierarchyFromSearhResults</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Check this to prevent this page and all of its subpages from appearing in search results.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Search</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>575b8d6f-ad26-496e-bd27-0f85c2aef46c</Key>
      <Name>Hide Whole Hierarchy from Sitemap</Name>
      <Alias>hideWholeHierarchyFromSitemap</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Checking this box will hide this page and all of its subpages from the site map.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Sitemap</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e6f3201c-4adc-4388-b5e3-1a941270153d</Key>
      <Name>Title Override</Name>
      <Alias>overrideTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[If you define an Override Title, the title of the node (as it appears on the tree on the left) will be IGNORED and this title will be used instead. The rest of the alternate titles (menu, breadcrumb etc.), if defined, will still be in effect.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Titles</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ce8685ee-99ab-4336-b672-a7ce50bf24a1</Key>
      <Name>Priority</Name>
      <Alias>priority</Alias>
      <Definition>35f0b75a-af60-462a-9a7a-7b780f7c4027</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Default is 0.5]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Sitemap</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>da66f529-c576-4d3c-8c7c-e85b4fa6b20b</Key>
      <Name>Redirect</Name>
      <Alias>redirect</Alias>
      <Definition>6139d9fb-9cf3-47d8-9967-6261244522e7</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Choose a redirection method for your current page. You can redirect to another page within the site, an external URL, or the first child page of the current page.]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Redirects</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7baf4a49-a87d-4524-bb03-a7d00267d0b7</Key>
      <Name>Hide from Menu</Name>
      <Alias>umbracoNaviHide</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Check if you need to hide this page from any menus (provided that it normally appears there)]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Navigation</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>093bcae0-0763-46f7-b2b8-bc3fe4ca781c</Key>
      <Name>Alternate URL(s)</Name>
      <Alias>umbracoUrlAlias</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter one or more alternate URLs, separated by comma. For example, if your URL was /some-category/some-page/content-node, by adding an umbracoUrlAlias of “flowers”, a user can navigate to the node by simply going to /flowers. You can also specify paths like “flowers/roses/red”.]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Navigation</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9547e346-fd16-4a68-b20a-0cc15cb650e8</Key>
      <Name>URL part substitution</Name>
      <Alias>umbracoUrlName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Normally, the name of the page is used as part of the SEO URL. Here you can provide your own alternate string for this part of the URL.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Navigation</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Navigation</Caption>
      <SortOrder>400</SortOrder>
    </Tab>
    <Tab>
      <Caption>Titles</Caption>
      <SortOrder>410</SortOrder>
    </Tab>
    <Tab>
      <Caption>Redirects</Caption>
      <SortOrder>420</SortOrder>
    </Tab>
    <Tab>
      <Caption>Sitemap</Caption>
      <SortOrder>421</SortOrder>
    </Tab>
    <Tab>
      <Caption>Page Specific Scripts and Code</Caption>
      <SortOrder>422</SortOrder>
    </Tab>
    <Tab>
      <Caption>Search</Caption>
      <SortOrder>423</SortOrder>
    </Tab>
  </Tabs>
</ContentType>