<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4460656b-38c9-4b7a-a523-054a377d7d10" Alias="abstractContentPage" Level="2">
  <Info>
    <Name>(Common) Abstract Content Page</Name>
    <Icon>icon-checkbox-dotted color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <Folder>Common-Abstracts</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>75b294eb-49b1-462a-9e27-c7ef0585b8d7</Key>
      <Name>Hide Image</Name>
      <Alias>hideImage</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Image will continue to be used in lists, but it will not be displayed inside the page. Useful when you need to display a gallery instead.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Media</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1342912d-efbe-4ca0-b724-b2a9b3c1aeb0</Key>
      <Name>Image</Name>
      <Alias>image</Alias>
      <Definition>3c9f588d-5079-405e-8471-bf5c7f1e1836</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Media</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c376b89d-d1d1-4c3e-bce5-a2402cab95ac</Key>
      <Name>Intro Text</Name>
      <Alias>introText</Alias>
      <Definition>0fc4d9f7-7588-4e5e-8e0f-8e8b60330ded</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Contents</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>093a6794-e757-4b33-9f29-2dc7500027db</Key>
      <Name>Photo Gallery</Name>
      <Alias>photoGallery</Alias>
      <Definition>11900da5-32a9-4627-8665-f1648bae51c3</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Media</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6d0a6960-6c0d-49ad-8527-e34972e5578b</Key>
      <Name>Related Articles</Name>
      <Alias>relatedArticles</Alias>
      <Definition>540391b6-7585-46a6-92d8-32782a2cbdd5</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Related</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1424c77a-06f6-476f-ab83-0546bd7fe3d7</Key>
      <Name>Related Events</Name>
      <Alias>relatedEvents</Alias>
      <Definition>540391b6-7585-46a6-92d8-32782a2cbdd5</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Related</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d2e3b91e-e2c9-421e-92de-ca362617f3dc</Key>
      <Name>Show Department Signature</Name>
      <Alias>showDepartmentSignature</Alias>
      <Definition>f38f0ac7-1d27-439c-9f3f-089cd8825a53</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Pick a location where the department signature will be displayed. If you don't select an option, the default behavior will be applied (as defined in global settings). If the page is not under a department, then this option is ignored.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Contents</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6794a1a2-1d86-424d-b2ea-2c94c87c6ab6</Key>
      <Name>Subtitle</Name>
      <Alias>subtitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Contents</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b9a0a4a8-7f95-4960-b8ac-19a2176a03f8</Key>
      <Name>Text</Name>
      <Alias>text</Alias>
      <Definition>0fc4d9f7-7588-4e5e-8e0f-8e8b60330ded</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Contents</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4ae771d0-f492-4800-9ce1-f50aa47d6c8e</Key>
      <Name>Video Gallery</Name>
      <Alias>videoGallery</Alias>
      <Definition>11900da5-32a9-4627-8665-f1648bae51c3</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Media</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Contents</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>Media</Caption>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Caption>Related</Caption>
      <SortOrder>10</SortOrder>
    </Tab>
  </Tabs>
</ContentType>