<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="52152b69-9d61-4f88-95da-a45ad14867d5" Alias="AbstractSocialLinks" Level="2">
  <Info>
    <Name>(Common) AbstractSocialLinks</Name>
    <Icon>icon-checkbox-dotted color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <Folder>Common-Abstracts</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>a2e8c04e-567a-4b52-a517-b9c0bdf346e0</Key>
      <Name>Social Links</Name>
      <Alias>socialLinks</Alias>
      <Definition>e0390d84-aa1b-4180-aff2-036257f6537d</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Valid style names (fontawesome): https://fontawesome.com/v4.7.0/icons/
(example: facebook, instagram, linkedin, youtube, github, vimeo, etc.)]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Social Links</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Social Links</Caption>
      <SortOrder>10</SortOrder>
    </Tab>
  </Tabs>
</ContentType>