<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ac295ce8-89b9-488c-bc09-4d43fe0d18a6" Alias="abstractBackgroundImageBlock" Level="2">
  <Info>
    <Name>Abstract Background Image Block</Name>
    <Icon>icon-checkbox-dotted color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <Folder>Site-AbstractBlocks</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>c0f7f746-27cf-438f-bab0-b5b77cfc4322</Key>
      <Name>Image</Name>
      <Alias>image</Alias>
      <Definition>fad3c248-1c81-49b0-93f1-8dac4d9d8aec</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Image</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>05c3d728-b04b-4c93-a727-567e82c62ed9</Key>
      <Name>Overlay</Name>
      <Alias>overlay</Alias>
      <Definition>98819437-aa61-4ecc-852f-f02c6191609b</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[0=no overlay, choose a lesser value for a lighter overlay, or a larger value for a darker overlay.]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Image</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d1d20c78-e223-4dfd-8d10-6369bf294b6a</Key>
      <Name>Use Light Text Color</Name>
      <Alias>useLightTextColor</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Check to use light color for text. If unchecked, dark color will be used.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Image</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Image</Caption>
      <SortOrder>100</SortOrder>
    </Tab>
  </Tabs>
</ContentType>