<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="95c85304-f6b0-4a58-a155-359c0bf8f198" Alias="abstractPageBackgroundImage" Level="2">
  <Info>
    <Name>Abstract Page Background Image</Name>
    <Icon>icon-checkbox-dotted color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <Folder>Site-Abstracts</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>ea03c3c6-8ca0-4e57-8e09-3957e368f7a9</Key>
      <Name>Apply Background Image to Sub Pages</Name>
      <Alias>applyBackgroundImageToSubPages</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Applies the setting to sub pages, unless they have it explicitly set.]]></Description>
      <SortOrder>9</SortOrder>
      <Tab>Top Background Image</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>df4f2345-ee5c-42a2-8696-aeb506909f51</Key>
      <Name>Summary</Name>
      <Alias>backgroundImageSummary</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter a summary which will appear under the page title. If breadcrumbs are enabled summary will appear underneath the breadcrumb.]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>Top Background Image</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9410a45f-e806-4c94-80e8-c0ef36bbf228</Key>
      <Name>Hide Breadcrumb</Name>
      <Alias>hideBreadcrumb</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Hides the generated breadcrumb from the top image. You can also globally hide all breadcrumbs by checking a box in Site Configuration.]]></Description>
      <SortOrder>6</SortOrder>
      <Tab>Top Background Image</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b3eee707-eacf-4d6f-b8fb-4886939ba1d0</Key>
      <Name>Keep Sub Page Title</Name>
      <Alias>keepSubPageTitle</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Check this when applying a background image to sub pages in order to retain the sub page's title. If you leave it unchecked, the page will also inherit the title from the page it gets the image from.]]></Description>
      <SortOrder>10</SortOrder>
      <Tab>Top Background Image</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d14690dc-26b7-44fb-af8a-cb61dbb44ec6</Key>
      <Name>Large height</Name>
      <Alias>largeHeight</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Set a height for the background image. If you check this box the image will have a larger height.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Top Background Image</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1378300b-eabf-4038-9d95-a1f26ff24cff</Key>
      <Name>Overlay</Name>
      <Alias>overlay</Alias>
      <Definition>98819437-aa61-4ecc-852f-f02c6191609b</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[0=no overlay, choose a lesser value for a lighter overlay, or a larger value for a darker overlay.]]></Description>
      <SortOrder>8</SortOrder>
      <Tab>Top Background Image</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4140e8fd-5e0a-4383-bf66-175a32fced8b</Key>
      <Name>Background Image</Name>
      <Alias>pageBackgroundImage</Alias>
      <Definition>fad3c248-1c81-49b0-93f1-8dac4d9d8aec</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Optionally set a background image for the top section of the page. If you don't set an image then no other settings defined here will apply.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Top Background Image</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3ca973e2-6c7c-4476-ba96-ae40364d9590</Key>
      <Name>Use Light Text Color</Name>
      <Alias>useLightTextColor</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Check to use light color for text. If unchecked, dark color will be used.]]></Description>
      <SortOrder>7</SortOrder>
      <Tab>Top Background Image</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Top Background Image</Caption>
      <SortOrder>100</SortOrder>
    </Tab>
  </Tabs>
</ContentType>