<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="56a0d788-3fd5-4e33-9ff8-0c5e2f2b6506" Alias="categoriesImageGallery" Level="1">
  <Info>
    <Name>Image Gallery Categories</Name>
    <Icon>icon-tags color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="d76e7301-5e29-49d8-8bb4-d6656c9438cb" SortOrder="0">categoryImageGallery</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>