<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0fd28123-bcc9-466a-98dc-7fbc603f0965" Alias="dGenericCategoryItem" Level="2">
  <Info>
    <Name>Category Item</Name>
    <Icon>icon-untitled color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <Folder>Common-Lookups</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>