<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0064c96f-618f-4962-be2a-8fdb570f47d4" Alias="externalLinkBlock" Level="2">
  <Info>
    <Name>External Link</Name>
    <Icon>icon-out</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <Folder>Common-Blocks</Folder>
    <Compositions>
      <Composition Key="e4f5945a-0276-4c61-98f7-407fd1dc49ed">abstractNcLinkItemBlock</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>591d8dab-7008-4e9c-923c-a445bfcbf8af</Key>
      <Name>External Link</Name>
      <Alias>externalLink</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation>https?://[a-zA-Z0-9-.]+.[a-zA-Z]{2,}</Validation>
      <Description><![CDATA[If you specify an external link here, any internal link and/or link to file will be ignored.]]></Description>
      <SortOrder>6</SortOrder>
      <Tab>Contents</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Contents</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>