<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d91034f7-7353-4890-b6a6-e0f1120ec3bb" Alias="folderProducts" Level="2">
  <Info>
    <Name>Products Folder</Name>
    <Icon>icon-folder-open color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <Folder>Site-Pages</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="663933a1-b179-4b3a-8cbc-d2daa184156c" SortOrder="0">pageProduct</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>