<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="bedd5cd5-2f83-42b9-a3ca-8293c4867b67" Alias="folderPortfolioSections" Level="1">
  <Info>
    <Name>Portfolio Sections Folder</Name>
    <Icon>icon-folders color-yellow</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Additional (optional) sections for a portfolio item</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>