<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a4f67338-e1e6-420e-9ead-f2a3c27595b1" Alias="folderAuthors" Level="2">
  <Info>
    <Name>Blog Authors Folder</Name>
    <Icon>icon-folder-outline color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Contains blog authors</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <Folder>Common-Blog</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="600afe1b-d758-4789-9704-cb2e1f3f831e" SortOrder="0">pageBlogAuthor</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>