<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="39d6349e-8388-4e25-ad63-387f87cf226b" Alias="folderPortfolioItems" Level="1">
  <Info>
    <Name>Portfolio Items Folder</Name>
    <Icon>icon-folder-outline color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Contains portfolio items</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="df967462-3535-469b-99f8-204faef56372" SortOrder="0">pagePortfolioItem</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>