<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f71c8e72-25e0-4be2-93fe-39bce24ec4bd" Alias="folderConfiguration" Level="2">
  <Info>
    <Name>(C) Configuration Folder</Name>
    <Icon>icon-settings color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Folder holding all website configuration options as well as common content</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <Folder>Common-Configuration</Folder>
    <Compositions>
      <Composition Key="2e9b4d55-333a-4ff1-bacb-91290a54a98b">abstractConfigNode</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="1f83fbf6-c4da-45e6-8622-aa7f9b93cc5e" SortOrder="0">configGlobalSettings</ContentType>
    <ContentType Key="5bdcb15b-769e-4e1c-b641-c1a1ecb498d4" SortOrder="1">configScriptSettings</ContentType>
    <ContentType Key="f8e89a7e-9934-4a30-871d-759b038c955a" SortOrder="2">configSocialLinks</ContentType>
    <ContentType Key="7e550f03-235e-4e86-9262-d67e813098b4" SortOrder="3">configMenuAndFooterSettings</ContentType>
    <ContentType Key="6de42621-6e1a-4eb7-b65e-4dfcf3af4aac" SortOrder="4">configLoginPage</ContentType>
    <ContentType Key="3c223302-4fc5-435d-a175-eb72bf3fb09a" SortOrder="5">configDashboardSettings</ContentType>
    <ContentType Key="56a0d788-3fd5-4e33-9ff8-0c5e2f2b6506" SortOrder="6">categoriesImageGallery</ContentType>
    <ContentType Key="35c1e289-748f-4f06-bd20-a55c847ab32e" SortOrder="7">configCookieSettings</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>