<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="588a261e-2cad-4322-b900-6a4853fcb57d" Alias="internalLinkBlock" Level="2">
  <Info>
    <Name>Internal Link</Name>
    <Icon>icon-link</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <Folder>Common-Blocks</Folder>
    <Compositions>
      <Composition Key="e4f5945a-0276-4c61-98f7-407fd1dc49ed">abstractNcLinkItemBlock</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>d91b0b23-bc8e-4908-924a-8bcfeb9d53f6</Key>
      <Name>Internal Link</Name>
      <Alias>internalLink</Alias>
      <Definition>19aacf4b-0e7e-44cd-8064-555a5940bd88</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>6</SortOrder>
      <Tab>Contents</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>80757902-b182-4f35-8397-8b7dea6478df</Key>
      <Name>Internal Link Anchor</Name>
      <Alias>internalLinkAnchor</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Use this in combination with the internal link to navigate to a specific part of the page.]]></Description>
      <SortOrder>7</SortOrder>
      <Tab>Contents</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f010665b-4215-48e9-ac23-f548aa2fcd48</Key>
      <Name>Internal Link Querystring Parameters</Name>
      <Alias>internalLinkQuerystringParameters</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter any additional querystring parameters you want to add to the internal link, in the form "a=1&b=2" (without the question mark).]]></Description>
      <SortOrder>8</SortOrder>
      <Tab>Contents</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Contents</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>