<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5071929c-9012-4536-9c89-7083722b2c4a" Alias="linkToFileBlock" Level="2">
  <Info>
    <Name>Link to File</Name>
    <Icon>icon-download-alt</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <Folder>Common-Blocks</Folder>
    <Compositions>
      <Composition Key="e4f5945a-0276-4c61-98f7-407fd1dc49ed">abstractNcLinkItemBlock</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>9565846d-c48b-42a5-b174-d978024c3bce</Key>
      <Name>Link to File</Name>
      <Alias>fileLink</Alias>
      <Definition>eb2cd376-16da-48b1-8c9b-3751aa92ac11</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[If you specify a link here, internal link is ignored]]></Description>
      <SortOrder>6</SortOrder>
      <Tab>Contents</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Contents</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>