<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e030bfbc-44e1-4f92-8e57-5f02cc478a4d" Alias="ncFileLinkItem" Level="2">
  <Info>
    <Name>(Common) Link to File</Name>
    <Icon>icon-download-alt</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Common-NC+Items</Folder>
    <Compositions>
      <Composition Key="070b24d3-6483-430a-8a26-3ce687a5b5fe">abstractNcLinkItem</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>b89db493-e3df-4a70-84b6-f657c76ced67</Key>
      <Name>Link to File</Name>
      <Alias>fileLink</Alias>
      <Definition>eb2cd376-16da-48b1-8c9b-3751aa92ac11</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[If you specify a link here, internal link is ignored]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Contents</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Contents</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>