<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="7c734044-da37-4e6f-98ce-ef98ccfb0434" Alias="ncRedirectToPage" Level="2">
  <Info>
    <Name>Redirect to Page</Name>
    <Icon>icon-notepad-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Choose this option to redirect to another page within the web site.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <Folder>Common-NC+Items</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>66d91d01-3dcd-4ce4-b946-45015bee2632</Key>
      <Name>Permanent Redirect</Name>
      <Alias>permanentRedirect</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Contents</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1659786a-0dc2-436e-9f75-4302397867d1</Key>
      <Name>Redirect to Page</Name>
      <Alias>redirectToPage</Alias>
      <Definition>19aacf4b-0e7e-44cd-8064-555a5940bd88</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Contents</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Contents</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>