<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="cc08c8e7-9946-4528-9d72-1987c5abe432" Alias="ncSliderImage" Level="2">
  <Info>
    <Name>NcSliderImage</Name>
    <Icon>icon-checkbox-dotted color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Site-NC+Items</Folder>
    <Compositions>
      <Composition Key="b85463ad-2749-4dba-bf5c-7c9772f9c17a">abstractNcBackgroundImage</Composition>
      <Composition Key="a1fe9f5a-f2e2-47df-ae10-b6155daf720b">abstractNcButtonLayout</Composition>
      <Composition Key="49cd7a71-3b1f-4eab-ad7b-0ad6e3513d73">abstractNcIntro</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>731b4749-dcd9-4837-b96f-80041dec8216</Key>
      <Name>Larger Title</Name>
      <Alias>largerTitle</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Contents</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b21be8b3-8d5b-4b0f-9f87-2c5890380cd9</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Contents</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Contents</Caption>
      <SortOrder>501</SortOrder>
    </Tab>
  </Tabs>
</ContentType>