<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="1cb958d5-c490-4775-9a75-0c1d6731fc8b" Alias="pageHome" Level="2">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>The site's home page. Pretty self-explanatory :)</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <Folder>Common-Pages</Folder>
    <Compositions>
      <Composition Key="035d3f90-0f2e-4e0c-92a1-68baf06bd60c">abstractOpenGraph</Composition>
      <Composition Key="9bc49727-08ba-4127-aafb-c09079bc3024">abstractPage</Composition>
      <Composition Key="c4a66759-445b-496e-948a-3e4406270020">abstractPageSections</Composition>
    </Compositions>
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="8a28d496-9b2a-4d5e-903e-17d2b2697909">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="f71c8e72-25e0-4be2-93fe-39bce24ec4bd" SortOrder="0">folderConfiguration</ContentType>
    <ContentType Key="63888c3d-5e1b-4afd-bcbb-1ea2fc32dd2d" SortOrder="1">page404</ContentType>
    <ContentType Key="ff59e7fa-229c-4d9e-9b68-355b4611facf" SortOrder="2">folderGenericCategories</ContentType>
    <ContentType Key="5e41d31d-2ed9-4da5-a2d9-fd7c0edc15b0" SortOrder="3">pageContent</ContentType>
    <ContentType Key="296d9e19-8f0d-45a9-b839-1788f4d1e334" SortOrder="4">pagePlaceholder</ContentType>
    <ContentType Key="e8cd8837-c727-4ce6-a11b-a622784650da" SortOrder="5">pageSearchResults</ContentType>
    <ContentType Key="2251b6ca-c297-4d8e-a81f-4bf6a6af92e3" SortOrder="6">pageSiteMap</ContentType>
    <ContentType Key="e19c2768-0f6b-4b70-9e33-51d536efae57" SortOrder="7">pageBlogList</ContentType>
    <ContentType Key="e4d4009b-bc95-4a08-ad6d-42c1f99d4443" SortOrder="8">pageContentWithSidebar</ContentType>
    <ContentType Key="42112159-1024-482c-85d3-5adea04477c7" SortOrder="9">pageProductsList</ContentType>
    <ContentType Key="56a0d788-3fd5-4e33-9ff8-0c5e2f2b6506" SortOrder="10">categoriesImageGallery</ContentType>
    <ContentType Key="e52270b9-cce1-4185-9eb0-181863591286" SortOrder="11">pagePortfolio</ContentType>
    <ContentType Key="0bb69230-8cbc-48b4-aa94-eccc5d405bbf" SortOrder="12">pageCookiePreferences</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>