<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="8db32561-8449-44f6-ab65-fa121f4d01c2" Alias="pageXmlSitemapIndex" Level="2">
  <Info>
    <Name>Xml Sitemap Index Page</Name>
    <Icon>icon-indent color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>An index page used when there are more than one sitemaps (e.g. for multiple languages).</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Common-Pages</Folder>
    <Compositions />
    <DefaultTemplate>SitemapIndex</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="4751f157-9ca3-4be0-8b00-946c4f95d7f9">SitemapIndex</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>