<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="63888c3d-5e1b-4afd-bcbb-1ea2fc32dd2d" Alias="page404" Level="2">
  <Info>
    <Name>404 Page</Name>
    <Icon>icon-stop-alt color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>The page to be displayed when a 404 not found error occurs.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <Folder>Common-Pages</Folder>
    <Compositions>
      <Composition Key="035d3f90-0f2e-4e0c-92a1-68baf06bd60c">abstractOpenGraph</Composition>
      <Composition Key="9bc49727-08ba-4127-aafb-c09079bc3024">abstractPage</Composition>
      <Composition Key="95c85304-f6b0-4a58-a155-359c0bf8f198">abstractPageBackgroundImage</Composition>
      <Composition Key="c4a66759-445b-496e-948a-3e4406270020">abstractPageSections</Composition>
    </Compositions>
    <DefaultTemplate>Page404</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="8c74e4ca-1e18-4eb3-9dec-645aec825000">Page404</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>