<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="296d9e19-8f0d-45a9-b839-1788f4d1e334" Alias="pagePlaceholder" Level="2">
  <Info>
    <Name>Placeholder Page</Name>
    <Icon>icon-arrow-right color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>This page is used for menus and similar structures and has no content of its own. It redirects to its first sub page.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Common-Pages</Folder>
    <Compositions>
      <Composition Key="c4a66759-445b-496e-948a-3e4406270020">abstractPageSections</Composition>
    </Compositions>
    <DefaultTemplate>PlaceholderPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="a2ff8fca-a0fb-4fca-8686-7bc45b988653">PlaceholderPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>