<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e4d4009b-bc95-4a08-ad6d-42c1f99d4443" Alias="pageContentWithSidebar" Level="2">
  <Info>
    <Name>Content Page With Sidebar</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <Folder>Site-Pages</Folder>
    <Compositions>
      <Composition Key="035d3f90-0f2e-4e0c-92a1-68baf06bd60c">abstractOpenGraph</Composition>
      <Composition Key="9bc49727-08ba-4127-aafb-c09079bc3024">abstractPage</Composition>
      <Composition Key="95c85304-f6b0-4a58-a155-359c0bf8f198">abstractPageBackgroundImage</Composition>
      <Composition Key="c4a66759-445b-496e-948a-3e4406270020">abstractPageSections</Composition>
      <Composition Key="f567fd37-ee29-4e29-80fa-1bb5583514fa">abstractPageWithSidebar</Composition>
    </Compositions>
    <DefaultTemplate>PageContentWithSidebar</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="51e4ea8a-3def-466a-9333-992ec847b059">PageContentWithSidebar</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="5e41d31d-2ed9-4da5-a2d9-fd7c0edc15b0" SortOrder="0">pageContent</ContentType>
    <ContentType Key="e4d4009b-bc95-4a08-ad6d-42c1f99d4443" SortOrder="1">pageContentWithSidebar</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>