<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e19c2768-0f6b-4b70-9e33-51d536efae57" Alias="pageBlogList" Level="2">
  <Info>
    <Name>Blog Post List Page</Name>
    <Icon>icon-newspaper</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>The main page of the blog</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <Folder>Common-Blog</Folder>
    <Compositions>
      <Composition Key="035d3f90-0f2e-4e0c-92a1-68baf06bd60c">abstractOpenGraph</Composition>
      <Composition Key="9bc49727-08ba-4127-aafb-c09079bc3024">abstractPage</Composition>
      <Composition Key="95c85304-f6b0-4a58-a155-359c0bf8f198">abstractPageBackgroundImage</Composition>
      <Composition Key="f567fd37-ee29-4e29-80fa-1bb5583514fa">abstractPageWithSidebar</Composition>
    </Compositions>
    <DefaultTemplate>pageBlogList</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="6ca071e0-d8ae-4f06-9973-2ce6a2190394">pageBlogList</Template>
      <Template Key="89e58b97-4939-411c-8f57-240754d75c59">pageBlogList_3Col_Full</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="ff59e7fa-229c-4d9e-9b68-355b4611facf" SortOrder="0">folderGenericCategories</ContentType>
    <ContentType Key="a4f67338-e1e6-420e-9ead-f2a3c27595b1" SortOrder="1">folderAuthors</ContentType>
    <ContentType Key="d32e2c16-a230-4665-97c3-a205d190079e" SortOrder="2">folderArticlePosts</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>220d45d1-87ae-4ebb-ae14-77e25a5af8ec</Key>
      <Name>Date format</Name>
      <Alias>dateFormat</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Format when displaying dates. You can use standard formats like dd/MMM/yy. Default format if not specified is dd/MM/yyyy.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>General Settings</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0f3b139f-52d5-4691-922e-a53c2c939ae8</Key>
      <Name>Disable RSS Feed</Name>
      <Alias>disableRSSFeed</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>RSS Settings</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>009dcff1-834a-401b-aecf-ba1dd0c3e297</Key>
      <Name>Disqus Short Name</Name>
      <Alias>disqusShortName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter your Disqus account's short name - you can find it under the General tab in Disqus settings. We'll take care of the rest.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>General Settings</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ca73144e-5cf0-470d-8f08-ada8728d7d25</Key>
      <Name>Enable Comments</Name>
      <Alias>enableComments</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Show / Hide Elements</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>98c7b2f4-fd4a-4b97-b627-6ad2e3d57a84</Key>
      <Name>Hide authors</Name>
      <Alias>hideAuthors</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Check this box to hide anything author related from post lists and post pages. You will still be able to add authors and define an author for each post, but the information won't appear anywhere.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Show / Hide Elements</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>113ca01f-7476-4788-a958-128c47bbb8b0</Key>
      <Name>Hide categories</Name>
      <Alias>hideCategories</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Check this box to hide anything category related from post lists and post pages. You will still be able to manage categories and assign articles to categories, but the information won't appear anywhere.]]></Description>
      <SortOrder>6</SortOrder>
      <Tab>Show / Hide Elements</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f7fe82d8-bbea-4141-bd52-54f585f3a623</Key>
      <Name>Hide dates</Name>
      <Alias>hideDates</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Check this box to prevent post dates appearing in lists and individual posts. Posts will still be sorted by date, but the dates themselves will not appear anywhere.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Show / Hide Elements</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b56c4f5c-6a3e-4f08-88bd-e0e659007212</Key>
      <Name>Hide recent articles</Name>
      <Alias>hideRecentArticles</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Check this box to hide the recent articles list (where applicable)]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>Show / Hide Elements</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c8f0c525-e202-455f-a403-f02f5762d4d4</Key>
      <Name>Hide Summaries</Name>
      <Alias>hideSummaries</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Prevents displaying article summaries in list pages]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Show / Hide Elements</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4562de65-b07e-42b1-86b9-3c8936b7370f</Key>
      <Name>Hide tags</Name>
      <Alias>hideTags</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Check this box to hide anything tag related from post lists and posts. You will still be able to apply tags to posts, but they won't appear anywhere.]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Show / Hide Elements</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>984d8b27-a0db-40b0-93c7-4f29bddc3dd4</Key>
      <Name>Masonry Layout</Name>
      <Alias>masonryLayout</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Check to use a Masonry layout with images retaining different heights. If left unchecked, all images will feature the same height and posts will be presented in grid format.]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>General Settings</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7ef2a17e-826c-4e9a-b5ff-6711c91e071d</Key>
      <Name>Posts Per Page</Name>
      <Alias>postsPerPage</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Number of posts per page. If you don't specify a value, 6 posts will be displayed per page.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>General Settings</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b6fd02b0-af7d-42df-afc6-32f4dfb783fc</Key>
      <Name>Posts Per row</Name>
      <Alias>postsPerRow</Alias>
      <Definition>eb62a9c2-3d74-455a-9d9e-cb91b54a2549</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The number of items to show on each row of the list]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>General Settings</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>88fb8d6c-4023-4478-87ad-0a1542091f25</Key>
      <Name>Number of RSS Entries</Name>
      <Alias>rssItemsNumber</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The maximum number of items to get for any RSS feed. Enter 0 if you want to bring ALL items.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>RSS Settings</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>fa114fca-43bd-48fd-a856-2daf398b23f8</Key>
      <Name>Summaries max length</Name>
      <Alias>summariesMaxLength</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter a number of characters after which a summary will be truncated. Default is 300. Summary will be truncated at the next word after the limit is reached.]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>General Settings</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>42a6ff8c-0d0f-4a45-85a1-72fe76ebeb60</Key>
      <Name>Widgets</Name>
      <Alias>widgets</Alias>
      <Definition>0f489d50-ed6b-4b1f-9968-d6454da31793</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Sidebar Settings</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>General Settings</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>Sidebar Settings</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>RSS Settings</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>Show / Hide Elements</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>