<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="77ace462-a163-4c0e-bfb6-c49697ce8308" Alias="sectionImageGalleryBlockSettings" Level="2">
  <Info>
    <Name>Image Gallery Section Block Settings</Name>
    <Icon>icon-pictures-alt-2 color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Contains an image gallery, with optional categories. You can adjust number of columns as well as other layout aspects.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <Folder>Site-SectionBlocks</Folder>
    <Compositions>
      <Composition Key="25e21eca-99ed-4fa4-b14b-65af94d25342">abstractSectionEffectsBlock</Composition>
      <Composition Key="fe822b8a-2bf8-4e1a-b3cf-45ed731085e7">abstractSectionLayoutBlock</Composition>
      <Composition Key="9492b496-5c58-4021-8a79-6c4a446808c3">abstractSectionTitleBlock</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="ff59e7fa-229c-4d9e-9b68-355b4611facf" SortOrder="0">folderGenericCategories</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>