<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="fd1bbf4b-68ee-43df-acbb-0d317401df87" Alias="sectionPercentagesBlock" Level="2">
  <Info>
    <Name>Percentages Section Block</Name>
    <Icon>icon-pie-chart color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Presents a bar chart with percentages</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <Folder>Site-SectionBlocks</Folder>
    <Compositions>
      <Composition Key="dc321a87-6633-4b5a-bffd-ba5c0117aeb5">abstractSectionBlock</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>8d038ae8-a11d-43c7-b46f-64dd7d87f099</Key>
      <Name>Items</Name>
      <Alias>items</Alias>
      <Definition>9bab42a8-ce6f-4666-b190-3227a44b85b3</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Contents</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Contents</Caption>
      <SortOrder>10</SortOrder>
    </Tab>
  </Tabs>
</ContentType>