<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="01e2b00a-8af4-4068-9eea-38b770679493" Alias="sectionIntroHeroImageSliderBlockSettings" Level="2">
  <Info>
    <Name>Intro - Hero Image Slider Section Block Settings</Name>
    <Icon>icon-pictures-alt color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <Folder>Site-SectionBlocks</Folder>
    <Compositions>
      <Composition Key="7ca4122e-8211-4a1d-aaa2-9a512184f777">abstractSliderSettingsBlock</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>98ebdfcc-9909-4b30-a979-6438b176b1e2</Key>
      <Name>Animation</Name>
      <Alias>animation</Alias>
      <Definition>e1680fe2-8e26-4695-8ca5-e2bc0eca8420</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ac10bdc2-9a8f-4548-9d27-13f3c8cee409</Key>
      <Name>Direction</Name>
      <Alias>direction</Alias>
      <Definition>8dc8f676-c1f2-4f16-a5ff-bc182122538f</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Direction only works with sliding animations]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c6c3b0ff-4f39-4415-a5c8-9de00e6e6507</Key>
      <Name>Easing</Name>
      <Alias>easing</Alias>
      <Definition>145dab44-137f-4b6a-bc82-20ce85ec1559</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Leave this empty to apply default easing]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>bcbd6b33-6d2a-4228-b5fc-fd5915fa0766</Key>
      <Name>Slide duration</Name>
      <Alias>slideDuration</Alias>
      <Definition>47f65929-1ccc-4ef0-bdff-9f980d91f1f7</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The time each slide will remain on screen before the next one appears (in MS). Leave it at 0 to apply the default speed for this slider.]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>594ba24e-ba26-4314-8668-7eeee4153745</Key>
      <Name>Transition Speed</Name>
      <Alias>speed</Alias>
      <Definition>47f65929-1ccc-4ef0-bdff-9f980d91f1f7</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The time each transition will last (in MS). Leave speed at 0 to apply default speed for this slider]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Settings</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>