<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="02d0836e-e7f8-4d09-9e9e-1459543d7cdf" Alias="sectionMultiColBlockSettings" Level="2">
  <Info>
    <Name>Multi Column Section Block Settings</Name>
    <Icon>icon-columns color-lime</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>This is a "placeholder" section under which you can add specific content nodes. According to the number of nodes you add, the section will be automatically divided in columns, each containing the contents of a node</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <Folder>Site-SectionBlocks</Folder>
    <Compositions>
      <Composition Key="25e21eca-99ed-4fa4-b14b-65af94d25342">abstractSectionEffectsBlock</Composition>
      <Composition Key="fe822b8a-2bf8-4e1a-b3cf-45ed731085e7">abstractSectionLayoutBlock</Composition>
      <Composition Key="9492b496-5c58-4021-8a79-6c4a446808c3">abstractSectionTitleBlock</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>