<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="96662765-7734-4189-a0cf-85eb2a4ae0c3" Alias="sectionProcessBlock" Level="2">
  <Info>
    <Name>Process Section Block</Name>
    <Icon>icon-shuffle color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Groups a set of entries with icons and descriptions that describe a process or similar content</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <Folder>Site-SectionBlocks</Folder>
    <Compositions>
      <Composition Key="dc321a87-6633-4b5a-bffd-ba5c0117aeb5">abstractSectionBlock</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>148df3f6-3223-4457-8124-e95fc991ee72</Key>
      <Name>Items</Name>
      <Alias>items</Alias>
      <Definition>2703132b-2e91-4568-8e14-b8b6ed392a37</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Contents</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Contents</Caption>
      <SortOrder>10</SortOrder>
    </Tab>
  </Tabs>
</ContentType>