<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="7fe5b715-1a1c-4ead-b91a-801d0d50e917" Alias="sectionSimpleImageGalleryBlock" Level="2">
  <Info>
    <Name>Simple Image Gallery Section Block</Name>
    <Icon>icon-pictures-alt-2 color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Contains a simple image gallery. You can adjust number of columns as well as other layout aspects.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <Folder>Site-SectionBlocks</Folder>
    <Compositions>
      <Composition Key="dc321a87-6633-4b5a-bffd-ba5c0117aeb5">abstractSectionBlock</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>e39bf601-aa1e-49b9-99b1-a60b88fd6670</Key>
      <Name>Columns</Name>
      <Alias>columns</Alias>
      <Definition>23f31aae-1966-4d83-abeb-efaf6376bad3</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select how many columns the images will be presented with.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Gallery Settings</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d4129975-0cce-48eb-9975-4bfc4192539d</Key>
      <Name>Items</Name>
      <Alias>items</Alias>
      <Definition>9dbbcbbb-2327-434a-b355-af1b84e5010a</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Contents</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3b074aa7-09a5-4c65-bbd4-cf57a2d31676</Key>
      <Name>Masonry</Name>
      <Alias>masonry</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[If you have images of uneven sizes and wish them to retain their sizes check this box. Otherwise the images will be automatically cropped around the focus point to form a grid.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Gallery Settings</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e94511da-4e4a-488b-bf52-c0a0b5e44a6a</Key>
      <Name>Spacing between images</Name>
      <Alias>spacing</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[If this box is not checked, images will "stick" to each other]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Gallery Settings</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e1a0cb2e-4036-48c6-83db-0ce0dc94f752</Key>
      <Name>Upscale Images</Name>
      <Alias>upscaleImages</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[If you check this box, the images displayed when a user clicks on the thumbs will be upscaled to match a maximum presentation size for the screen. Otherwise, they will be displayed at their original size.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Gallery Settings</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Contents</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>Gallery Settings</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>