<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="87149ae4-d4dd-46b4-98cc-af1a927f2f28" Alias="sectionCounterBlock" Level="2">
  <Info>
    <Name>Counters Section Block</Name>
    <Icon>icon-calculator color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Displays 1 to 4 counters inside your page.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <Folder>Site-SectionBlocks</Folder>
    <Compositions>
      <Composition Key="dc321a87-6633-4b5a-bffd-ba5c0117aeb5">abstractSectionBlock</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>123d6711-0640-4da2-ab34-c8ca0fe5a950</Key>
      <Name>Items</Name>
      <Alias>items</Alias>
      <Definition>c8c476a8-4566-4ad4-9c99-6623c93ca374</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>10</SortOrder>
    </Tab>
  </Tabs>
</ContentType>