<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="405a82cb-5530-4288-a8c5-a3b7ba2479b0" Alias="sectionTestimonialsBlock" Level="2">
  <Info>
    <Name>Testimonials Section Block</Name>
    <Icon>icon-quote color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Renders a slider with customer testimonials.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <Folder>Site-SectionBlocks</Folder>
    <Compositions>
      <Composition Key="ac295ce8-89b9-488c-bc09-4d43fe0d18a6">abstractBackgroundImageBlock</Composition>
      <Composition Key="dc321a87-6633-4b5a-bffd-ba5c0117aeb5">abstractSectionBlock</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>39f30906-a6ef-46d3-9b73-5c1430f88aae</Key>
      <Name>Items</Name>
      <Alias>items</Alias>
      <Definition>b806859d-aa7b-4154-85a3-68e56ff6a593</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Contents</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Contents</Caption>
      <SortOrder>101</SortOrder>
    </Tab>
  </Tabs>
</ContentType>