<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="65b9f748-394e-4409-bafa-3d610d9f1f49" Alias="sectionIntroImageSliderBlockSettings" Level="2">
  <Info>
    <Name>Intro - Image Slider Section Block Settings</Name>
    <Icon>icon-pictures-alt-2 color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <Folder>Site-SectionBlocks</Folder>
    <Compositions>
      <Composition Key="7ca4122e-8211-4a1d-aaa2-9a512184f777">abstractSliderSettingsBlock</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>