<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ba0a31b5-4b05-41c5-a131-71aabb5ad8c2" Alias="sectionStatementBlockSettings" Level="2">
  <Info>
    <Name>Statement Section Block Settings</Name>
    <Icon>icon-bookmark color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A visually catching section that allows for text and an action button, as well as a background image.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <Folder>Site-SectionBlocks</Folder>
    <Compositions>
      <Composition Key="25e21eca-99ed-4fa4-b14b-65af94d25342">abstractSectionEffectsBlock</Composition>
      <Composition Key="fe822b8a-2bf8-4e1a-b3cf-45ed731085e7">abstractSectionLayoutBlock</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>2a6c2381-061f-4d2b-8c10-76dbb94e1a5b</Key>
      <Name>Text Orientation</Name>
      <Alias>textOrientation</Alias>
      <Definition>9738a66b-28a3-48b3-920d-02da66cf8f4c</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Default orientation is text center]]></Description>
      <SortOrder>6</SortOrder>
      <Tab>Layout</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Layout</Caption>
      <SortOrder>1000</SortOrder>
    </Tab>
  </Tabs>
</ContentType>