<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c14d54ef-0e44-4f40-95e1-86d4a216c6fd" Alias="sectionImageGalleryBlock" Level="2">
  <Info>
    <Name>Image Gallery Section Block</Name>
    <Icon>icon-pictures-alt-2 color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Contains an image gallery, with optional categories. You can adjust number of columns as well as other layout aspects.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <Folder>Site-SectionBlocks</Folder>
    <Compositions>
      <Composition Key="dc321a87-6633-4b5a-bffd-ba5c0117aeb5">abstractSectionBlock</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="ff59e7fa-229c-4d9e-9b68-355b4611facf" SortOrder="0">folderGenericCategories</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>68edf259-7ee9-4ea0-9ecb-e70b8d732d9f</Key>
      <Name>Label for "All" category option</Name>
      <Alias>allOptionLabel</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[You can specify custom text for the "All" category option - if you don't enter text here the default setting from the Dictionary (Theme.Gallery.All) will be used.]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>Gallery Settings</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>711c40cb-cf2e-4e98-8937-cd5ada6a4a28</Key>
      <Name>Columns</Name>
      <Alias>columns</Alias>
      <Definition>23f31aae-1966-4d83-abeb-efaf6376bad3</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select how many columns the images will be presented with.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Gallery Settings</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7e17e014-8762-46c7-9234-caab96f43f24</Key>
      <Name>Do not display categories</Name>
      <Alias>doNotDisplayCategories</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[If you check this box, categories will not be displayed in the image listing (category menu will still display and you can still assign items to categories)]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Gallery Settings</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7b3df099-2d9f-4d35-b42a-8e8c584d6dd5</Key>
      <Name>Hide "All" category option</Name>
      <Alias>hideAllCategoryOption</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[If you check this box, items will be filtered by the first category and there will be no "all" option in the category menu.]]></Description>
      <SortOrder>6</SortOrder>
      <Tab>Gallery Settings</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>92afe8c0-547a-4830-9e22-8bea7d13b506</Key>
      <Name>Items</Name>
      <Alias>items</Alias>
      <Definition>244059bf-3dec-4105-8ef3-f883b3dcbe0d</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Contents</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7a4a42cc-4de1-4f3f-9c63-1889ea5be38a</Key>
      <Name>Masonry</Name>
      <Alias>masonry</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[If you have images of uneven sizes and wish them to retain their sizes check this box. Otherwise the images will be automatically cropped around the focus point to form a grid.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Gallery Settings</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0cf1fe6b-b5b4-4a03-99be-7d03d2592e41</Key>
      <Name>Spacing between images</Name>
      <Alias>spacing</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[If this box is not checked, images will "stick" to each other]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Gallery Settings</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>bcc56fa2-ef13-4c50-8b4c-17cf3486d935</Key>
      <Name>Upscale Images</Name>
      <Alias>upscaleImages</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[If you check this box, the images displayed when a user clicks on the thumbs will be upscaled to match a maximum presentation size for the screen. Otherwise, they will be displayed at their original size. ]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Gallery Settings</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Contents</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>Gallery Settings</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>