<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="8bb3ad0e-a4b0-43a7-baa8-6ca1fe5ae6e3" Alias="sectionIntroStaticImageBlockSettings" Level="2">
  <Info>
    <Name>Intro - Static Image Section Block Settings</Name>
    <Icon>icon-picture color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <Folder>Site-SectionBlocks</Folder>
    <Compositions>
      <Composition Key="abc0215f-bb8b-490f-b627-cd6ad5921ca6">abstractButtonLayoutBlock</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>