<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="1b6442b8-7f88-4410-b665-4920e626cc20" Alias="sectionTeamBlock" Level="2">
  <Info>
    <Name>Team Section Block</Name>
    <Icon>icon-users-alt color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Presents a list of team members, either as a slider or as a grid.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <Folder>Site-SectionBlocks</Folder>
    <Compositions>
      <Composition Key="dc321a87-6633-4b5a-bffd-ba5c0117aeb5">abstractSectionBlock</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>666acb3a-728b-42e2-b3fe-ed28c9462ddb</Key>
      <Name>Appearance</Name>
      <Alias>appearance</Alias>
      <Definition>19c60ea9-7268-40eb-80e6-09ac7fecd0e9</Definition>
      <Type>Umbraco.RadioButtonList</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Contents</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ebf26e62-b990-47c0-9470-8f74115dc1a7</Key>
      <Name>Items</Name>
      <Alias>items</Alias>
      <Definition>27bedf7b-6783-4528-b558-ff8bcea95bae</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Contents</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Contents</Caption>
      <SortOrder>10</SortOrder>
    </Tab>
  </Tabs>
</ContentType>