<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a7298666-ca3d-4265-9387-01e17e4eca92" Alias="sectionImageBannerBlock" Level="2">
  <Info>
    <Name>Image Banner Section Block</Name>
    <Icon>icon-picture color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <Folder>Site-SectionBlocks</Folder>
    <Compositions>
      <Composition Key="dc321a87-6633-4b5a-bffd-ba5c0117aeb5">abstractSectionBlock</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>98f94bf8-cb91-4475-84e3-a61d2d5260e0</Key>
      <Name>Image</Name>
      <Alias>image</Alias>
      <Definition>fad3c248-1c81-49b0-93f1-8dac4d9d8aec</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Contents</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>82c5306e-3dd2-499b-9b0b-f44645ae5e30</Key>
      <Name>Link</Name>
      <Alias>link</Alias>
      <Definition>2f491733-fc1b-42fe-b4b2-21d95a92faf6</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Contents</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Contents</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>