<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6d7563e7-369f-41db-88ea-c0ab51c63903" Alias="sectionContactBlock" Level="2">
  <Info>
    <Name>Contact Section Block</Name>
    <Icon>icon-mailbox color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Displays a contact form with configurable settings</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <Folder>Site-SectionBlocks</Folder>
    <Compositions>
      <Composition Key="dc321a87-6633-4b5a-bffd-ba5c0117aeb5">abstractSectionBlock</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>c4a2654b-be41-4f75-8f79-b2c3ef36238f</Key>
      <Name>Acceptance Link</Name>
      <Alias>acceptanceLink</Alias>
      <Definition>2f491733-fc1b-42fe-b4b2-21d95a92faf6</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>Form Fields</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ecb7ca3d-29cc-48c7-8e36-6e297be3682e</Key>
      <Name>Acceptance Literal</Name>
      <Alias>acceptanceLiteral</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Form Fields</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5bcc5046-2fd1-4022-ae5f-365b728858fe</Key>
      <Name>Administrator's Email</Name>
      <Alias>administratorsEmail</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation>[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+</Validation>
      <Description><![CDATA[The email address where notifications will be sent to]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Email Notifications</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d282cde3-2811-45e6-9c4a-bc13953767b9</Key>
      <Name>Dropdown 1 Values</Name>
      <Alias>dropdown1Values</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter the values for the first drop down field, one per line. First line will be the caption for the field. If you leave this blank, no dropdown field will be displayed.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Form Fields</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>65fba3f7-653e-4781-a14e-25f463060a93</Key>
      <Name>Dropdown 2 Values</Name>
      <Alias>dropdown2Values</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter the values for the second drop down field, one per line. First line will be the caption for the field. If you leave this blank, no dropdown field will be displayed.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Form Fields</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>615de5df-4427-41ba-a9f0-32dfca47f11c</Key>
      <Name>Hide Name</Name>
      <Alias>hideName</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Check this box to hide the Name field]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Form Fields</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>13675bd7-4248-4f8e-ab41-aea343b22d3b</Key>
      <Name>Hide Subject</Name>
      <Alias>hideSubject</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Check this box to hide the subject field]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Form Fields</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a2e40c5f-5aff-4ac7-882d-df4092ab4309</Key>
      <Name>Intro Text</Name>
      <Alias>introText</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Intro</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e5c82af9-65cf-43b0-a1c0-b37a6b1904b9</Key>
      <Name>Notification Email Body</Name>
      <Alias>notificationEmailBody</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Any text you would like to appear before the actual contents of the user's message, in the notification email sent to the administrator.]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Email Notifications</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ef610503-aa5a-4fa3-b181-b00fe820ec1d</Key>
      <Name>Notification Email Subject</Name>
      <Alias>notificationEmailSubject</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The subject of the notification email. If you leave this blank and have the subject form field enabled, it will contain the contents of the subject field. If the subject form field is not enabled and this field is blank, a standard subject from the dictionary will be displayed.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Email Notifications</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>91c6a1b2-71e9-429d-b3bc-75ec251614bc</Key>
      <Name>Notification Mail From</Name>
      <Alias>notificationMailFrom</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation>[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+</Validation>
      <Description><![CDATA[The email address notification emails will be sent from]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Email Notifications</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3e47e7c9-04f3-46cd-a0e8-3e45837eabfd</Key>
      <Name>Notification Mail Sender Alias</Name>
      <Alias>notificationMailSenderAlias</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[A literal to display in place of the sender's email address when notifications are sent.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Email Notifications</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>652bed86-e927-43f9-b08b-6c59c58fcae7</Key>
      <Name>ReCaptcha Site Key</Name>
      <Alias>reCaptchaSiteKey</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Spam Protection</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Intro</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>Form Fields</Caption>
      <SortOrder>10</SortOrder>
    </Tab>
    <Tab>
      <Caption>Email Notifications</Caption>
      <SortOrder>20</SortOrder>
    </Tab>
    <Tab>
      <Caption>Spam Protection</Caption>
      <SortOrder>30</SortOrder>
    </Tab>
  </Tabs>
</ContentType>