<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5697db66-f152-49d3-aee2-526b31c04e90" Alias="sectionTestimonialsBlockSettings" Level="2">
  <Info>
    <Name>Testimonials Section Block Settings</Name>
    <Icon>icon-quote color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Renders a slider with customer testimonials.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <Folder>Site-SectionBlocks</Folder>
    <Compositions>
      <Composition Key="25e21eca-99ed-4fa4-b14b-65af94d25342">abstractSectionEffectsBlock</Composition>
      <Composition Key="fe822b8a-2bf8-4e1a-b3cf-45ed731085e7">abstractSectionLayoutBlock</Composition>
      <Composition Key="7ca4122e-8211-4a1d-aaa2-9a512184f777">abstractSliderSettingsBlock</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>07fb420f-df19-402d-b9ba-5abd356b4ab0</Key>
      <Name>Text Orientation</Name>
      <Alias>textOrientation</Alias>
      <Definition>9738a66b-28a3-48b3-920d-02da66cf8f4c</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Default text orientation is center]]></Description>
      <SortOrder>6</SortOrder>
      <Tab>Slider Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Slider Settings</Caption>
      <SortOrder>510</SortOrder>
    </Tab>
  </Tabs>
</ContentType>