<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9054e2b7-0060-468e-99b6-eb1d8aaff0eb" Alias="sectionProcessBlockSettings" Level="2">
  <Info>
    <Name>Process Section Block Settings</Name>
    <Icon>icon-shuffle color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Groups a set of entries with icons and descriptions that describe a process or similar content</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <Folder>Site-SectionBlocks</Folder>
    <Compositions>
      <Composition Key="25e21eca-99ed-4fa4-b14b-65af94d25342">abstractSectionEffectsBlock</Composition>
      <Composition Key="fe822b8a-2bf8-4e1a-b3cf-45ed731085e7">abstractSectionLayoutBlock</Composition>
      <Composition Key="9492b496-5c58-4021-8a79-6c4a446808c3">abstractSectionTitleBlock</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>b73946c3-88fc-459a-9bfb-601417459bc8</Key>
      <Name>delay</Name>
      <Alias>bubbleDelay</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Set a delay for displaying text bubbles (where defined). Default is 0 (no delay).]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Text Bubble Settings</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f985ecfe-e30d-41ed-b553-ac4a55dab3be</Key>
      <Name>Bubble follows pointer</Name>
      <Alias>bubbleFollow</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Check this box to have text bubbles (where defined) follow the mouse pointer.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Text Bubble Settings</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>733c7179-bd01-420a-bd83-31c497fd461b</Key>
      <Name>Position</Name>
      <Alias>bubblePosition</Alias>
      <Definition>920b51b1-10b7-4ae4-8a9d-c525d9829d9a</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the position of text bubbles (where defined). Default is "Top".]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Text Bubble Settings</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Text Bubble Settings</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>