<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="59097d4c-12db-4428-9f89-002dd1d9a2a7" Alias="sectionContentSliderBlock" Level="2">
  <Info>
    <Name>Content Slider Section Block</Name>
    <Icon>icon-layers-alt color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <Folder>Site-SectionBlocks</Folder>
    <Compositions>
      <Composition Key="dc321a87-6633-4b5a-bffd-ba5c0117aeb5">abstractSectionBlock</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>3c1e1006-32fb-41b9-a645-bab20daf2519</Key>
      <Name>Items</Name>
      <Alias>items</Alias>
      <Definition>ec757ba0-8018-4489-bbce-eae54398cfef</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>10</SortOrder>
      <Tab>Contents</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Contents</Caption>
      <SortOrder>10</SortOrder>
    </Tab>
  </Tabs>
</ContentType>