@inherits Umbraco.Web.Mvc.UmbracoViewPage<PageArticleItem>

@{
    <div class="post-more-link pull-right"><a href="@Model.Url">@Umbraco.GetDictionaryValue("Blog.ReadMore")<i class="fa fa-long-arrow-right right"></i></a></div>
}
