<?xml version="1.0" encoding="utf-8"?>
<Content Key="7b69ac1d-ba7e-4575-a815-f03e83629812" Alias="Back Office Login Messages" Level="3">
  <Info>
    <Parent Key="60de4e1a-2132-42a0-a8d0-b08c2d386682">Settings</Parent>
    <Path>/WelcomeToTheUMazelStarterKit/Settings/BackOfficeLoginMessages</Path>
    <Trashed>false</Trashed>
    <ContentType>configLoginPage</ContentType>
    <CreateDate>2021-05-13T23:23:19</CreateDate>
    <NodeName Default="Back Office Login Messages">
      <Name Culture="en-us">Back Office Login Messages</Name>
    </NodeName>
    <SortOrder>7</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <backgroundImage>
      <Value><![CDATA[]]></Value>
    </backgroundImage>
    <greeting0>
      <Value><![CDATA[]]></Value>
    </greeting0>
    <greeting1>
      <Value><![CDATA[]]></Value>
    </greeting1>
    <greeting2>
      <Value><![CDATA[]]></Value>
    </greeting2>
    <greeting3>
      <Value><![CDATA[]]></Value>
    </greeting3>
    <greeting4>
      <Value><![CDATA[]]></Value>
    </greeting4>
    <greeting5>
      <Value><![CDATA[]]></Value>
    </greeting5>
    <greeting6>
      <Value><![CDATA[]]></Value>
    </greeting6>
    <updateUmbracoSettings>
      <Value><![CDATA[]]></Value>
    </updateUmbracoSettings>
  </Properties>
</Content>