<?xml version="1.0" encoding="utf-8"?>
<Content Key="9bffb0c7-b324-40e0-8dc0-0846b61c13fc" Alias="Page Not Found" Level="2">
  <Info>
    <Parent Key="df759d8c-e261-4530-bf84-f6397369077d">Welcome to the uMazel Starter Kit</Parent>
    <Path>/WelcomeToTheUMazelStarterKit/PageNotFound</Path>
    <Trashed>false</Trashed>
    <ContentType>page404</ContentType>
    <CreateDate>2021-05-13T23:23:23</CreateDate>
    <NodeName Default="Page Not Found">
      <Name Culture="en-us">Page Not Found</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="8c74e4ca-1e18-4eb3-9dec-645aec825000">Page404</Template>
  </Info>
  <Properties>
    <altTitleBreadcrumb>
      <Value><![CDATA[]]></Value>
    </altTitleBreadcrumb>
    <altTitleInternal>
      <Value><![CDATA[]]></Value>
    </altTitleInternal>
    <altTitleMenu>
      <Value><![CDATA[]]></Value>
    </altTitleMenu>
    <applyBackgroundImageToSubPages>
      <Value><![CDATA[]]></Value>
    </applyBackgroundImageToSubPages>
    <applyToSubPages>
      <Value><![CDATA[]]></Value>
    </applyToSubPages>
    <backgroundImageSummary>
      <Value><![CDATA[]]></Value>
    </backgroundImageSummary>
    <browserTitleOverride>
      <Value><![CDATA[]]></Value>
    </browserTitleOverride>
    <codeAfterBodyStart>
      <Value><![CDATA[]]></Value>
    </codeAfterBodyStart>
    <codeBeforeBodyEnd>
      <Value><![CDATA[]]></Value>
    </codeBeforeBodyEnd>
    <codeInHeadElement>
      <Value><![CDATA[]]></Value>
    </codeInHeadElement>
    <hideBreadcrumb>
      <Value><![CDATA[]]></Value>
    </hideBreadcrumb>
    <hideFromFooter>
      <Value><![CDATA[]]></Value>
    </hideFromFooter>
    <hideFromSearchResults>
      <Value><![CDATA[]]></Value>
    </hideFromSearchResults>
    <hideInSitemap>
      <Value><![CDATA[]]></Value>
    </hideInSitemap>
    <hideWholeHierarchyFromSearhResults>
      <Value><![CDATA[]]></Value>
    </hideWholeHierarchyFromSearhResults>
    <hideWholeHierarchyFromSitemap>
      <Value><![CDATA[]]></Value>
    </hideWholeHierarchyFromSitemap>
    <introSection>
      <Value><![CDATA[]]></Value>
    </introSection>
    <keepSubPageTitle>
      <Value><![CDATA[]]></Value>
    </keepSubPageTitle>
    <largeHeight>
      <Value><![CDATA[]]></Value>
    </largeHeight>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <ogDescription>
      <Value><![CDATA[]]></Value>
    </ogDescription>
    <ogImage>
      <Value><![CDATA[]]></Value>
    </ogImage>
    <ogTitle>
      <Value><![CDATA[]]></Value>
    </ogTitle>
    <ogType>
      <Value><![CDATA[]]></Value>
    </ogType>
    <otherHttpEquivMetaTags>
      <Value><![CDATA[]]></Value>
    </otherHttpEquivMetaTags>
    <otherMetaTags>
      <Value><![CDATA[]]></Value>
    </otherMetaTags>
    <otherProperties>
      <Value><![CDATA[]]></Value>
    </otherProperties>
    <overlay>
      <Value><![CDATA[]]></Value>
    </overlay>
    <overrideTitle>
      <Value><![CDATA[]]></Value>
    </overrideTitle>
    <pageBackgroundImage>
      <Value><![CDATA[]]></Value>
    </pageBackgroundImage>
    <priority>
      <Value><![CDATA[]]></Value>
    </priority>
    <redirect>
      <Value><![CDATA[]]></Value>
    </redirect>
    <sections>
      <Value><![CDATA[]]></Value>
    </sections>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
    <useLightTextColor>
      <Value><![CDATA[]]></Value>
    </useLightTextColor>
  </Properties>
</Content>