<?xml version="1.0" encoding="utf-8"?>
<Content Key="812d76d8-97db-4542-b634-986d8b5e61a3" Alias="Site Settings" Level="3">
  <Info>
    <Parent Key="60de4e1a-2132-42a0-a8d0-b08c2d386682">Settings</Parent>
    <Path>/WelcomeToTheUMazelStarterKit/Settings/SiteSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>configGlobalSettings</ContentType>
    <CreateDate>2021-05-13T23:23:10</CreateDate>
    <NodeName Default="Site Settings">
      <Name Culture="en-us">Site Settings</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <addSuffix>
      <Value><![CDATA[]]></Value>
    </addSuffix>
    <alternateLogo>
      <Value><![CDATA[]]></Value>
    </alternateLogo>
    <copyMetaDescriptionFromOgIfEmpty>
      <Value><![CDATA[]]></Value>
    </copyMetaDescriptionFromOgIfEmpty>
    <copyMetaTitleFromOgIfEmpty>
      <Value><![CDATA[]]></Value>
    </copyMetaTitleFromOgIfEmpty>
    <defaultHttpEquivMetaTags>
      <Value><![CDATA[]]></Value>
    </defaultHttpEquivMetaTags>
    <defaultMetaTags>
      <Value><![CDATA[]]></Value>
    </defaultMetaTags>
    <defaultOGImage>
      <Value><![CDATA[]]></Value>
    </defaultOGImage>
    <defaultOgTags>
      <Value><![CDATA[]]></Value>
    </defaultOgTags>
    <defaultSectionMargin>
      <Value><![CDATA[]]></Value>
    </defaultSectionMargin>
    <defaultSectionMarginExtraSmallScreens>
      <Value><![CDATA[]]></Value>
    </defaultSectionMarginExtraSmallScreens>
    <defaultSectionMarginMobile>
      <Value><![CDATA[]]></Value>
    </defaultSectionMarginMobile>
    <defaultSectionPadding>
      <Value><![CDATA[]]></Value>
    </defaultSectionPadding>
    <defaultSectionPaddingExtraSmallScreens>
      <Value><![CDATA[]]></Value>
    </defaultSectionPaddingExtraSmallScreens>
    <defaultSectionPaddingMobile>
      <Value><![CDATA[]]></Value>
    </defaultSectionPaddingMobile>
    <favicon>
      <Value><![CDATA[]]></Value>
    </favicon>
    <fieldsForOGDescription>
      <Value><![CDATA[]]></Value>
    </fieldsForOGDescription>
    <fieldsForOGImage>
      <Value><![CDATA[]]></Value>
    </fieldsForOGImage>
    <fieldsForOGTitle>
      <Value><![CDATA[]]></Value>
    </fieldsForOGTitle>
    <font>
      <Value><![CDATA[]]></Value>
    </font>
    <generateLanguageMetaTagAutomatically>
      <Value><![CDATA[]]></Value>
    </generateLanguageMetaTagAutomatically>
    <generateUrlMetaTagAutomatically>
      <Value><![CDATA[]]></Value>
    </generateUrlMetaTagAutomatically>
    <loadingAnimation>
      <Value><![CDATA[]]></Value>
    </loadingAnimation>
    <logo>
      <Value><![CDATA[]]></Value>
    </logo>
    <mailchimpApiKey>
      <Value><![CDATA[]]></Value>
    </mailchimpApiKey>
    <mailchimpListID>
      <Value><![CDATA[]]></Value>
    </mailchimpListID>
    <siteName>
      <Value><![CDATA[]]></Value>
    </siteName>
    <typeIfOGTagEmpty>
      <Value><![CDATA[]]></Value>
    </typeIfOGTagEmpty>
    <useImageFromDefaultLanguage>
      <Value><![CDATA[]]></Value>
    </useImageFromDefaultLanguage>
  </Properties>
</Content>