<?xml version="1.0" encoding="utf-8" ?>
<srcsetmanager>
  
  <set name="defaultset" originalImageMaxWidth="1920" imageQuality="70" > <!-- originalImageMaxHeight optional -->
    <defaultImage width="" height="" blur=""/>
    <srcsetentries>
    <srcsetentry breakpoint="1920"></srcsetentry>
    <srcsetentry breakpoint="1600"></srcsetentry>
    <srcsetentry breakpoint="1440"></srcsetentry>
    <srcsetentry breakpoint="1200"></srcsetentry>
    <srcsetentry breakpoint="992"></srcsetentry>
    <srcsetentry breakpoint="768"></srcsetentry>
    <srcsetentry breakpoint="576"></srcsetentry>
    <srcsetentry breakpoint="400"></srcsetentry>
    <srcsetentry breakpoint="320"></srcsetentry>
    </srcsetentries>
    <sizeentries defaultwidth="1920">
      <sizeentry mediacondition="(max-width:1599px)" width="1600" type="px"></sizeentry>
      <sizeentry mediacondition="(max-width:1439px)" width="1440" type="px"></sizeentry>
      <sizeentry mediacondition="(max-width:1199px)" width="1200" type="px"></sizeentry>
      <sizeentry mediacondition="(max-width:991px)" width="992" type="px"></sizeentry>
      <sizeentry mediacondition="(max-width:767px)" width="768" type="px"></sizeentry>
      <sizeentry mediacondition="(max-width:575px)" width="576" type="px"></sizeentry>
      <sizeentry mediacondition="(max-width:399px)" width="400" type="px"></sizeentry>
      <sizeentry mediacondition="(max-width:319px)" width="320" type="px"></sizeentry>
    </sizeentries>
  </set>

  <set name="backgroundfull" originalImageMaxWidth="3840" use2x="true" use3x="true" imageQuality="70" upscale="true">
    
    <srcsetentries>
      <srcsetentry breakpoint="3840"></srcsetentry>
      <srcsetentry breakpoint="2880"></srcsetentry>
      <srcsetentry breakpoint="1920"></srcsetentry>
      <srcsetentry breakpoint="1600"></srcsetentry>
      <srcsetentry breakpoint="1200"></srcsetentry>
      <srcsetentry breakpoint="992"></srcsetentry>
      <srcsetentry breakpoint="768"></srcsetentry>
      <srcsetentry breakpoint="576"></srcsetentry>
      <srcsetentry breakpoint="400"></srcsetentry>
      <srcsetentry breakpoint="320"></srcsetentry>
    </srcsetentries>
  </set>

  <set name="headerbgnormal" originalImageMaxWidth="1920" use2x="true" use3x="true" imageQuality="70" upscale="false">

    <srcsetentries>
      <srcsetentry breakpoint="3840" width="3840" height="420"></srcsetentry>
      <srcsetentry breakpoint="2880" width="2880" height="420"></srcsetentry>
      <srcsetentry breakpoint="1920" width="1920" height="420"></srcsetentry>
      <srcsetentry breakpoint="1600" width="1600" height="420"></srcsetentry>
      <srcsetentry breakpoint="1200" width="1200" height="420"></srcsetentry>
      <srcsetentry breakpoint="992" width="992" height="420"></srcsetentry>
      <srcsetentry breakpoint="768" width="768" height="420"></srcsetentry>
      <srcsetentry breakpoint="576" width="576" height="420"></srcsetentry>
      <srcsetentry breakpoint="320" width="320" height="420"></srcsetentry>
    </srcsetentries>
  </set>

  <set name="headerbglarge" originalImageMaxWidth="1920" use2x="true" use3x="true" imageQuality="70" upscale="false">

    <srcsetentries>
      <srcsetentry breakpoint="3840" width="3840" height="570"></srcsetentry>
      <srcsetentry breakpoint="2880" width="2880" height="570"></srcsetentry>
      <srcsetentry breakpoint="1920" width="1920" height="570"></srcsetentry>
      <srcsetentry breakpoint="1600" width="1600" height="570"></srcsetentry>
      <srcsetentry breakpoint="1200" width="1200" height="570"></srcsetentry>
      <srcsetentry breakpoint="992" width="992" height="570"></srcsetentry>
      <srcsetentry breakpoint="768" width="768" height="570"></srcsetentry>
      <srcsetentry breakpoint="576" width="576" height="570"></srcsetentry>
      <srcsetentry breakpoint="320" width="320" height="570"></srcsetentry>
    </srcsetentries>
  </set>

  <set name="sectionTeamThumbs" originalImageMaxWidth="700" use2x="true" use3x="true" imageQuality="70" upscale="false" cropmode="crop">

    <srcsetentries>
      <srcsetentry breakpoint="1200" width="250" height="295"></srcsetentry>
      <srcsetentry breakpoint="992" width="250" height="295"></srcsetentry>
      <srcsetentry breakpoint="768" width="325" height="360"></srcsetentry>
      <srcsetentry breakpoint="576" width="450" height="530"></srcsetentry>
    </srcsetentries>
  </set>

  <set name="productImages" originalImageMaxWidth="700" use2x="true" use3x="true" imageQuality="70" upscale="false" cropmode="max">

    <srcsetentries>
      <srcsetentry breakpoint="1200" width="550" height="360"></srcsetentry>
      <srcsetentry breakpoint="992" width="440" height="290"></srcsetentry>
      <srcsetentry breakpoint="768" width="700" height="460"></srcsetentry>
      <srcsetentry breakpoint="576" width="450" height="296"></srcsetentry>
    </srcsetentries>
  </set>

  <set name="imageGallery" originalImageMaxWidth="700" use2x="true" use3x="true" imageQuality="70" upscale="false">

    <srcsetentries>
      <srcsetentry breakpoint="1200" width="600" height="337"></srcsetentry>
      <srcsetentry breakpoint="768" width="380" height="214"></srcsetentry>
    </srcsetentries>
  </set>
  <set name="imageGalleryZoom" originalImageMaxWidth="1680" use2x="false" use3x="false" imageQuality="70" upscale="true" cropmode="max">

    <srcsetentries>
      <srcsetentry breakpoint="1200" width="1680"></srcsetentry>
      <srcsetentry breakpoint="992" width="1080"></srcsetentry>
      <srcsetentry breakpoint="768" width="720"></srcsetentry>
      <srcsetentry breakpoint="576" width="420"></srcsetentry>
    </srcsetentries>
  </set>


  <set name="productImagesList" originalImageMaxWidth="450" use2x="true" use3x="true" imageQuality="70" upscale="false" cropmode="max" lazyload="true">

    <srcsetentries>
      <srcsetentry breakpoint="1200" width="350" height="240"></srcsetentry>
      <srcsetentry breakpoint="992" width="280" height="190"></srcsetentry>
      <srcsetentry breakpoint="768" width="325" height="220"></srcsetentry>
      <srcsetentry breakpoint="576" width="450" height="300"></srcsetentry>
    </srcsetentries>
  </set>

  <set name="productImagesZoom" originalImageMaxWidth="1680" use2x="false" use3x="false" imageQuality="70" upscale="true" cropmode="max">

    <srcsetentries>
      <srcsetentry breakpoint="1200" width="1680"></srcsetentry>
      <srcsetentry breakpoint="992" width="1080"></srcsetentry>
      <srcsetentry breakpoint="768" width="720"></srcsetentry>
      <srcsetentry breakpoint="576" width="420"></srcsetentry>
    </srcsetentries>
  </set>
  
  <set name="sectionImageText" originalImageMaxWidth="550" use2x="false" use3x="false" imageQuality="70" upscale="true">
    <srcsetentries>
      <srcsetentry breakpoint="1200" width="550"></srcsetentry>
      <srcsetentry breakpoint="992" width="435"></srcsetentry>
      <srcsetentry breakpoint="768" width="325"></srcsetentry>
      <srcsetentry breakpoint="576" width="450"></srcsetentry>
    </srcsetentries>
  </set>
  
  <set name="sectionImageBanner" originalImageMaxWidth="1200" use2x="false" use3x="false" imageQuality="70" upscale="false">
    <srcsetentries>
      <srcsetentry breakpoint="1200" width="1200"></srcsetentry>
      <srcsetentry breakpoint="992" width="970"></srcsetentry>
      <srcsetentry breakpoint="768" width="750"></srcsetentry>
      <srcsetentry breakpoint="576" width="450"></srcsetentry>
    </srcsetentries>
  </set>
  
  <set name="blogimages" originalImageMaxWidth="850" use2x="true" use3x="true" imageQuality="70" upscale="true">
    <srcsetentries>
      <srcsetentry breakpoint="1200" width="850" height="476"></srcsetentry>
      <srcsetentry breakpoint="992" width="678" height="376"></srcsetentry>
      <srcsetentry breakpoint="768" width="700" height="392"></srcsetentry>
      <srcsetentry breakpoint="576" width="450" height="252"></srcsetentry>
    </srcsetentries>
  </set>

  <set name="blogimagesfull" originalImageMaxWidth="1200" use2x="true" use3x="true" imageQuality="70" upscale="true">
    <srcsetentries>
      <srcsetentry breakpoint="1200" width="1200" height="476"></srcsetentry>
      <srcsetentry breakpoint="992" width="992" height="376"></srcsetentry>
      <srcsetentry breakpoint="768" width="760" height="392"></srcsetentry>
      <srcsetentry breakpoint="576" width="576" height="252"></srcsetentry>
    </srcsetentries>
  </set>


  <set name="blogimagemasonry" originalImageMaxWidth="850" use2x="true" use3x="true" imageQuality="70" upscale="true">
    <srcsetentries>
      <srcsetentry breakpoint="1200" width="850"></srcsetentry>
      <srcsetentry breakpoint="992" width="678"></srcsetentry>
      <srcsetentry breakpoint="768" width="700"></srcsetentry>
      <srcsetentry breakpoint="576" width="450"></srcsetentry>
    </srcsetentries>
    <!--<srcsetentries>
      <srcsetentry breakpoint="1024" width="273" height="154"></srcsetentry>
      <srcsetentry breakpoint="991" width="325" height="183"></srcsetentry>
      <srcsetentry breakpoint="767" width="450" height="253"></srcsetentry>
     </srcsetentries>-->
  </set>

  <set name="logo" originalImageMaxWidth="480" use2x="true" use3x="true" imageQuality="90" upscale="false" cropmode="max">

    <srcsetentries>
      <srcsetentry breakpoint="768" height="80"></srcsetentry>
      <srcsetentry breakpoint="320" height="60"></srcsetentry>
    </srcsetentries>
  </set>


  <set name="icons100" originalImageMaxHeight="100" imageQuality="70" use2x="true" use3x="true">
    <srcsetentries>
      <srcsetentry breakpoint="1200" width="100" height="100"></srcsetentry>
      <srcsetentry breakpoint="768" width="350" height="350"></srcsetentry>
      <srcsetentry breakpoint="400" width="100" height="100"></srcsetentry>
    </srcsetentries>
   
  </set>

  <set name="footerimage" originalImageMaxWidth="450" imageQuality="70" use2x="true" use3x="true">
    <srcsetentries>
      <srcsetentry breakpoint="1600" width="250"></srcsetentry>
      <srcsetentry breakpoint="991" width="450"></srcsetentry>
    </srcsetentries>
  </set>

  <set name="largethumbs" originalImageMaxWidth="259" originalImageMaxHeight="332" imageQuality="70" use2x="true" use3x="true">
    <srcsetentries>
      <srcsetentry breakpoint="10000" width="259" height="332"></srcsetentry>
      <srcsetentry breakpoint="1600" width="259" height="332"></srcsetentry>
      <srcsetentry breakpoint="991" width="220" height="232"></srcsetentry>
     
    </srcsetentries>
    <!--<sizeentries defaultwidth="100">
      <sizeentry mediacondition="(min-width:768px)" width="100" type="px"></sizeentry>
      <sizeentry mediacondition="(max-width:767px)" width="350" type="px"></sizeentry>
      <sizeentry mediacondition="(max-width:400px)" width="100" type="px"></sizeentry>
    </sizeentries>-->
  </set>

  <set name="tiles" originalImageMaxWidth="700" originalImageMaxHeight="s700" imageQuality="70">
    <srcsetentries>
      <srcsetentry breakpoint="320"></srcsetentry>
      <srcsetentry breakpoint="300"></srcsetentry>
      <srcsetentry breakpoint="280"></srcsetentry>
      <srcsetentry breakpoint="260"></srcsetentry>
      <srcsetentry breakpoint="240"></srcsetentry>
      <srcsetentry breakpoint="220"></srcsetentry>
      <srcsetentry breakpoint="200"></srcsetentry>
      <srcsetentry breakpoint="94"></srcsetentry>
    </srcsetentries>
    <sizeentries defaultwidth="1920">
      <sizeentry mediacondition="(max-width:767px)" width="50" type="vw"></sizeentry>
      <sizeentry mediacondition="(max-width:1920px)" width="350" type="px"></sizeentry>
    </sizeentries>
  </set>

  <set name="contentSlider" originalImageMaxWidth="768" imageQuality="70" use2x="true" use3x="true">
    <srcsetentries>
      <srcsetentry breakpoint="10000" width="580"></srcsetentry>
      <srcsetentry breakpoint="1200" width="480"></srcsetentry>
      <srcsetentry breakpoint="991" width="580"></srcsetentry>
      <srcsetentry breakpoint="768" width="768"></srcsetentry>
      <srcsetentry breakpoint="480" width="480"></srcsetentry>

    </srcsetentries>
    <sizeentries defaultwidth="768">
      <sizeentry mediacondition="(min-width:992px)" width="580" type="px"></sizeentry>
      <sizeentry mediacondition="(max-width:991px)" width="768" type="px"></sizeentry>
      <sizeentry mediacondition="(min-width:768px)" width="580" type="px"></sizeentry>
      <sizeentry mediacondition="(max-width:767px)" width="768" type="px"></sizeentry>
      <sizeentry mediacondition="(max-width:480px)" width="480" type="px"></sizeentry>
    </sizeentries>
  </set>

</srcsetmanager>



