<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="03a730ca-6842-47c4-859e-7cd0c47bde03" Alias="ContactForm.Error" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">There was an error during form submission. Please contact the site administrators.</Translation>
  </Translations>
</Dictionary>