<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="d803529a-6660-4705-8d54-ac07768e1380" Alias="ContactForm.Failure" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">There was a problem validating the form. Please retry or contact the site administrator.</Translation>
  </Translations>
</Dictionary>