<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="7ca4122e-8211-4a1d-aaa2-9a512184f777" Alias="abstractSliderSettingsBlock" Level="2">
  <Info>
    <Name>Abstract Slider Settings Block</Name>
    <Icon>icon-checkbox-dotted color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <Folder>Site-AbstractBlocks</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>4d7e3c8a-cc41-4966-be9e-54afbcb71357</Key>
      <Name>Auto Height</Name>
      <Alias>autoHeight</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Check to automatically adjust height to the content of each slide. Leave unchecked to have a stable height equal to the largest slide's height for all slides.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Slider Settings</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ac7dfd6a-bf2e-4689-b453-19de3dd8782d</Key>
      <Name>Manual Play</Name>
      <Alias>manualPlay</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Check to disable autoplay for the slider]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Slider Settings</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>dae3998b-10be-4c44-a672-ceac58eaa85e</Key>
      <Name>Show Bullets</Name>
      <Alias>showBullets</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Check to show slide bullets at the bottom of slides]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Slider Settings</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>afee6c04-334f-4fdf-8cc8-f0229f444c49</Key>
      <Name>Show Navigation Buttons</Name>
      <Alias>showNavigationButtons</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Check to show next/previous buttons.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Slider Settings</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>75cc3f7d-024b-4b00-a084-e7428156cdfc</Key>
      <Name>Slide Speed</Name>
      <Alias>slideSpeed</Alias>
      <Definition>47f65929-1ccc-4ef0-bdff-9f980d91f1f7</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Time each slide remains on screen (in MS). Leave this setting to 0 to apply the default speed for this slider.]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>Slider Settings</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>cb309f15-2e0e-43a8-85bc-55c4457ff163</Key>
      <Name>Stop On Hover</Name>
      <Alias>stopOnHover</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Check to make the slider stop changing slides when pointer is over it]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Slider Settings</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Slider Settings</Caption>
      <SortOrder>510</SortOrder>
    </Tab>
  </Tabs>
</ContentType>