<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9492b496-5c58-4021-8a79-6c4a446808c3" Alias="abstractSectionTitleBlock" Level="2">
  <Info>
    <Name>Abstract Section Title Block</Name>
    <Icon>icon-checkbox-dotted color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <Folder>Site-AbstractBlocks</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>53c2fcc8-59f9-4634-ba32-f1e6e1272d8d</Key>
      <Name>Hide Title</Name>
      <Alias>hideTitle</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Check this to completely hide the title. Hiding the title overrides the settings below.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Section Title</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>81595985-5834-46e5-b7ea-8b5bb5db8c86</Key>
      <Name>Title Orientation</Name>
      <Alias>titleOrientation</Alias>
      <Definition>9738a66b-28a3-48b3-920d-02da66cf8f4c</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Default is center]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Section Title</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>83bf6cd8-f7f8-4851-ac9c-b322abdd0030</Key>
      <Name>Title Size</Name>
      <Alias>titleSize</Alias>
      <Definition>5587cc21-ffbd-4b88-bcf4-8606ab2b6247</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[No selection = Normal (H3). Other selections (in order of size) emit H4, H5, and H6 tags respectively.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Section Title</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0bc8e4d6-443a-4057-aeea-e0690f9cf3a1</Key>
      <Name>Title Spacing</Name>
      <Alias>titleSpacing</Alias>
      <Definition>6f2c037e-d393-4dc6-91c8-3eda2c3a8a37</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Spacing of title from content (in pixels). No selection = default spacing]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Section Title</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Section Title</Caption>
      <SortOrder>11000</SortOrder>
    </Tab>
  </Tabs>
</ContentType>