<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="25e21eca-99ed-4fa4-b14b-65af94d25342" Alias="abstractSectionEffectsBlock" Level="2">
  <Info>
    <Name>Abstract Section Effects Block</Name>
    <Icon>icon-checkbox-dotted color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <Folder>Site-AbstractBlocks</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>73fc0577-5471-41f9-88b2-9c628e83e721</Key>
      <Name>Animation Direction</Name>
      <Alias>animationDirection</Alias>
      <Definition>1b1cd0e2-1671-4d6f-86e5-42fe9aabe2ee</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Choose the direction from which the animation will start. If you leave this selection empty and animations are enabled, the section will just "fade" in place.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Effects</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d6563371-4e4b-4983-97e4-198ab7c780fe</Key>
      <Name>Enable Animation</Name>
      <Alias>animationEnable</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Check this box to make this section animate. You can then specify the exact kind of animation using the options below.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Effects</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>650bdd52-a5b6-4d03-8006-0a156202e687</Key>
      <Name>Larger Animation</Name>
      <Alias>animationLarger</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Check this to amplify the animation effect]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Effects</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Effects</Caption>
      <SortOrder>1000</SortOrder>
    </Tab>
  </Tabs>
</ContentType>