<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a1fe9f5a-f2e2-47df-ae10-b6155daf720b" Alias="abstractNcButtonLayout" Level="2">
  <Info>
    <Name>AbstractNcButtonLayout</Name>
    <Icon>icon-checkbox-dotted color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <Folder>Site-NC+Items</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>17f4cdbd-6ff5-4ebb-a9e6-658a5d9311d7</Key>
      <Name>Button Fill</Name>
      <Alias>buttonFill</Alias>
      <Definition>acfd2102-f2b4-4a8c-9df8-1b20972f6a89</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Set the background color for the button. If you don't set anything, the default for this section will be applied.]]></Description>
      <SortOrder>210</SortOrder>
      <Tab>Contents</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>de09a653-827b-4ce7-bdd8-237142a082dc</Key>
      <Name>Button Outline</Name>
      <Alias>buttonOutline</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Check this box to have the button display an outline instead of a background color.]]></Description>
      <SortOrder>220</SortOrder>
      <Tab>Contents</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>27995866-d045-4a34-a980-5a4ae1ceeef9</Key>
      <Name>Button Size</Name>
      <Alias>buttonSize</Alias>
      <Definition>8d2c265a-f3d2-42b4-a080-50177eb93966</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Set a size for buttons on this section (0=smallest, 2=largest).]]></Description>
      <SortOrder>200</SortOrder>
      <Tab>Contents</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Contents</Caption>
      <SortOrder>500</SortOrder>
    </Tab>
  </Tabs>
</ContentType>