<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="abc0215f-bb8b-490f-b627-cd6ad5921ca6" Alias="abstractButtonLayoutBlock" Level="2">
  <Info>
    <Name>Abstract Button Layout Block</Name>
    <Icon>icon-checkbox-dotted color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <Folder>Site-AbstractBlocks</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>e42b8d41-bfda-40af-9830-9c4be95e74b8</Key>
      <Name>Button Fill</Name>
      <Alias>buttonFill</Alias>
      <Definition>acfd2102-f2b4-4a8c-9df8-1b20972f6a89</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Set the background color for the button. If you don't set anything, the default for this section will be applied.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Button(s) Settings</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>40192112-5c56-4486-ae9c-964a8cbe22ec</Key>
      <Name>Button Outline</Name>
      <Alias>buttonOutline</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Check this box to have the button display an outline instead of a background color.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Button(s) Settings</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>542d3263-39f6-45e4-937f-8f1339b98089</Key>
      <Name>Button Size</Name>
      <Alias>buttonSize</Alias>
      <Definition>8d2c265a-f3d2-42b4-a080-50177eb93966</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Set a size for buttons on this section (0=smallest, 2=largest).]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Button(s) Settings</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Button(s) Settings</Caption>
      <SortOrder>500</SortOrder>
    </Tab>
  </Tabs>
</ContentType>