<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f8e89a7e-9934-4a30-871d-759b038c955a" Alias="configSocialLinks" Level="2">
  <Info>
    <Name>(C) Social Links</Name>
    <Icon>icon-facebook-like color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Holds social links for the site</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <Folder>Common-Configuration</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>14d48ee8-b1a2-434a-ba00-ff397ac7354c</Key>
      <Name>Items</Name>
      <Alias>items</Alias>
      <Definition>e0390d84-aa1b-4180-aff2-036257f6537d</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Contents</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Contents</Caption>
      <SortOrder>10</SortOrder>
    </Tab>
  </Tabs>
</ContentType>