<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="1f83fbf6-c4da-45e6-8622-aa7f9b93cc5e" Alias="configGlobalSettings" Level="2">
  <Info>
    <Name>(C) Global Configuration Settings</Name>
    <Icon>icon-globe-alt color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Holds global settings for this site</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <Folder>Common-Configuration</Folder>
    <Compositions>
      <Composition Key="2e9b4d55-333a-4ff1-bacb-91290a54a98b">abstractConfigNode</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>77f098ee-c6a7-4e94-859e-6cbae730247f</Key>
      <Name>Add site name as suffix to page titles</Name>
      <Alias>addSuffix</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[If you check this box, the site name will be added as a suffix to page browser titles in the form "Pagetitle - Sitename", except from the home page.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Icon and Site Name</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>63828d4a-997e-4930-bfea-a7b10604b43d</Key>
      <Name>Alternate Logo</Name>
      <Alias>alternateLogo</Alias>
      <Definition>fad3c248-1c81-49b0-93f1-8dac4d9d8aec</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This logo will be automatically displayed when you have a dark background (essentially, when you have selected your top menu to be displayed in light color). When you scroll down, it will be automatically replaced with the default logo.]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Icon and Site Name</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f6cb4757-7e57-4a4d-8b0a-889b40f3bcf8</Key>
      <Name>Use Description from OG if Meta Description Empty</Name>
      <Alias>copyMetaDescriptionFromOgIfEmpty</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Uses the description tag value as the meta description value if the meta description tag is left empty.]]></Description>
      <SortOrder>10</SortOrder>
      <Tab>Open Graph and Meta Tags</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9219f55b-8344-4dad-b582-2e1354e7cb29</Key>
      <Name>Use Title From OG if Browser Title Empty</Name>
      <Alias>copyMetaTitleFromOgIfEmpty</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Uses the og:title tag value as the meta title value if the browser title field is left empty. If both are empty, the page's name (node name) is used.]]></Description>
      <SortOrder>9</SortOrder>
      <Tab>Open Graph and Meta Tags</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6649b2f6-4fcb-49f2-9d54-60e7adbb5562</Key>
      <Name>Default Http-Equiv Meta Tags</Name>
      <Alias>defaultHttpEquivMetaTags</Alias>
      <Definition>8b8a3800-f75a-4a9c-8606-16b62eac6562</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Add Meta tags with the "http-equiv" attribute (instead of "name") that will be included in every page, unless explicitly specified otherwise on a specific page or pages.]]></Description>
      <SortOrder>15</SortOrder>
      <Tab>Open Graph and Meta Tags</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c0cf2b76-9e9c-4821-a2b1-6e9fa55b10cc</Key>
      <Name>Default Meta Tags</Name>
      <Alias>defaultMetaTags</Alias>
      <Definition>8b8a3800-f75a-4a9c-8606-16b62eac6562</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Add Meta tags that will be included in every page, unless explicitly specified otherwise on a specific page or pages.]]></Description>
      <SortOrder>14</SortOrder>
      <Tab>Open Graph and Meta Tags</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8101ff72-505d-4ade-960e-3bb7ce22750e</Key>
      <Name>Default OG Image</Name>
      <Alias>defaultOGImage</Alias>
      <Definition>fad3c248-1c81-49b0-93f1-8dac4d9d8aec</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[If you set a default image, it will be used if any other condition is not met.]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Open Graph and Meta Tags</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>dac89306-aacd-4b5c-bb23-7fe54850bc58</Key>
      <Name>Default OG Tags</Name>
      <Alias>defaultOgTags</Alias>
      <Definition>7da81caa-3542-4cf2-9969-b61f3a1a2f66</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Add OG tags that will be included in every page, unless explicitly specified otherwise on a specific page or pages. Title, Description and Type tags will be ignored.]]></Description>
      <SortOrder>13</SortOrder>
      <Tab>Open Graph and Meta Tags</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a8c9657c-e19a-40fc-857b-35d33ced8b2f</Key>
      <Name>Default Section Margin</Name>
      <Alias>defaultSectionMargin</Alias>
      <Definition>f2b8647e-21a0-43fd-a99a-5b04b7a56f45</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[If not selected, default value will be 0]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Layout</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3d94ae13-a83f-486c-a155-f00425f57c5a</Key>
      <Name>Default Section Margin (Extra Small Screens)</Name>
      <Alias>defaultSectionMarginExtraSmallScreens</Alias>
      <Definition>5dd1dca7-5799-41a6-b907-d3fbbbaad34b</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>Layout</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4059a6f5-b2a3-4ec7-a238-985ec8f002a8</Key>
      <Name>Default Section Margin (Mobile)</Name>
      <Alias>defaultSectionMarginMobile</Alias>
      <Definition>651089dd-2da4-4ae9-8f60-90ac4f17b86b</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Layout</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c02e5a05-e2b7-441f-8455-76e507828e70</Key>
      <Name>Default Section Padding</Name>
      <Alias>defaultSectionPadding</Alias>
      <Definition>bef50be7-188b-4469-926e-9400dc8f1f0c</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[If not selected, default value will be 60]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Layout</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a74f00a7-04a1-4e2d-9c01-5ff15ff68893</Key>
      <Name>Default Section Padding (Extra Small Screens)</Name>
      <Alias>defaultSectionPaddingExtraSmallScreens</Alias>
      <Definition>1c11f85f-5e1a-4cb8-8d90-31b4d2669cbc</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Layout</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>03b8a3e1-ac93-41f0-871b-1176feed7815</Key>
      <Name>Default Section Padding (Mobile)</Name>
      <Alias>defaultSectionPaddingMobile</Alias>
      <Definition>9ca93959-0859-47d3-a261-3ecada638d8c</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Layout</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a1c20c4f-5730-480a-afa9-0667565fcfb6</Key>
      <Name>Favicon and touch icon</Name>
      <Alias>favicon</Alias>
      <Definition>fad3c248-1c81-49b0-93f1-8dac4d9d8aec</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Suggested size: 310x310px. The icon will be resized to all commonly used dimensions.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Icon and Site Name</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>76d7d15b-480e-4626-ba4b-0bf535a65515</Key>
      <Name>Fields for OG Description</Name>
      <Alias>fieldsForOGDescription</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter the property aliases of the fields you want the description Open Graph tag to take values from if it is empty (must select Page Fields as policy above for this to work). The first non-empty field found will be used. Separate property aliases with a comma (,)]]></Description>
      <SortOrder>6</SortOrder>
      <Tab>Open Graph and Meta Tags</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6f4ad668-ce92-4184-a667-f9e40c6332e8</Key>
      <Name>Fields for OG Image</Name>
      <Alias>fieldsForOGImage</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter the property aliases of the fields you want the image Open Graph tag to take values from if it is empty (must select Page Fields as policy above for this to work). The first non-empty field found will be used. Separate property aliases with a comma (,). Only properties of type Textbox, Multiple Media Picker, Upload Field and image Cropper will have their values used.]]></Description>
      <SortOrder>7</SortOrder>
      <Tab>Open Graph and Meta Tags</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>379be1f3-9f1a-4cdf-a89c-4bd0f13ee38f</Key>
      <Name>Fields for OG Title</Name>
      <Alias>fieldsForOGTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter the property aliases of the fields you want the title Open Graph tag to take values from if it is empty (must select Page Fields as policy above for this to work). The first non-empty field found will be used. Separate property aliases with a comma (,)]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>Open Graph and Meta Tags</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7762fe21-9280-4161-abed-f5dfc2034292</Key>
      <Name>Font</Name>
      <Alias>font</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation>https?://[a-zA-Z0-9-.]+.[a-zA-Z]{2,}</Validation>
      <Description><![CDATA[Enter a Google Fonts URL here to replace the default font. Please be aware that this will result in some CSS stylesheets to be loaded uncompressed, possibly affecting performance.  We suggest you use this functionality only as a tool for previewing font changes.]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>Icon and Site Name</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7cfde1eb-59da-4df5-b7ef-010bdd8dfca7</Key>
      <Name>Generate Language Meta Tag Automatically</Name>
      <Alias>generateLanguageMetaTagAutomatically</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Check this box to generate the "language" meta tag automatically for all pages that do not have a language meta tag explicitly set.]]></Description>
      <SortOrder>12</SortOrder>
      <Tab>Open Graph and Meta Tags</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6800be37-4528-4d3a-bcbd-f55d88eb07f1</Key>
      <Name>Generate url Meta Tag Automatically</Name>
      <Alias>generateUrlMetaTagAutomatically</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Check this box to generate the "url" meta tag automatically for all pages that do not have a url meta tag explicitly set.]]></Description>
      <SortOrder>11</SortOrder>
      <Tab>Open Graph and Meta Tags</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c8eb7356-1503-47fe-a029-480631ed00a0</Key>
      <Name>Loading Animation</Name>
      <Alias>loadingAnimation</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Check to enable a loading animation while a page is loaded]]></Description>
      <SortOrder>6</SortOrder>
      <Tab>Icon and Site Name</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>631017b1-0255-4915-b5d2-10b54970ec73</Key>
      <Name>Logo</Name>
      <Alias>logo</Alias>
      <Definition>fad3c248-1c81-49b0-93f1-8dac4d9d8aec</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The site logo to be used on all pages]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Icon and Site Name</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5e3dda6f-4a74-4aff-a645-8a4558d89ade</Key>
      <Name>Mailchimp Api Key</Name>
      <Alias>mailchimpApiKey</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[You can use this field to enter your Mailchimp API key or, if you need this info to be more secure, you can alternatively defined it in your web.config file.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Newsletter</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4231185a-db9d-4cca-a711-86d21a22d46d</Key>
      <Name>Mailchimp List ID</Name>
      <Alias>mailchimpListID</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The ID of the list you want new subscribers to be added to]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Newsletter</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f237fdbc-0472-4ef2-ae39-ad2d9b5cd22e</Key>
      <Name>Site name</Name>
      <Alias>siteName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The site name is essentially the browser title for the home page. This will also be appended as a suffix to all other pages if you check the box below.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Icon and Site Name</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>75f1a789-bcca-41e1-ba28-8b0729e13f20</Key>
      <Name>Type if OG Tag Empty</Name>
      <Alias>typeIfOGTagEmpty</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter the default OG type value when the type field is left empty.]]></Description>
      <SortOrder>8</SortOrder>
      <Tab>Open Graph and Meta Tags</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>dd06e7ba-aa7f-416e-aa2b-65ccf168c967</Key>
      <Name>Use Image from Default Language If Empty</Name>
      <Alias>useImageFromDefaultLanguage</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Check this to first attempt to use the image from the default site's language if the site is multilingual (with variants). If that image is also empty, then the policy defined above will be applied.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Open Graph and Meta Tags</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Icon and Site Name</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>Open Graph and Meta Tags</Caption>
      <SortOrder>11</SortOrder>
    </Tab>
    <Tab>
      <Caption>Layout</Caption>
      <SortOrder>12</SortOrder>
    </Tab>
    <Tab>
      <Caption>Newsletter</Caption>
      <SortOrder>13</SortOrder>
    </Tab>
  </Tabs>
</ContentType>