<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5bdcb15b-769e-4e1c-b641-c1a1ecb498d4" Alias="configScriptSettings" Level="2">
  <Info>
    <Name>(C) Script Settings</Name>
    <Icon>icon-script-alt color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <Folder>Common-Configuration</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>4f0ee1eb-b103-46bc-ac68-7698731a0281</Key>
      <Name>Scripts after Body start</Name>
      <Alias>scriptAfterBodyStart</Alias>
      <Definition>157871b3-2545-4bf0-9f65-3dcfdafbac87</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Any scripts you put here go immediately after the starting BODY tag]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Contents</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>211687a9-06a4-479a-b7a1-19619a971e46</Key>
      <Name>Scripts before Body end</Name>
      <Alias>scriptBeforeBodyEnd</Alias>
      <Definition>157871b3-2545-4bf0-9f65-3dcfdafbac87</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Any scripts you put here go before the closing BODY tag]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Contents</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f4d297bc-38fc-45b8-b81e-a1e0d3cd3ced</Key>
      <Name>Scripts in Head element</Name>
      <Alias>scriptInHeadElement</Alias>
      <Definition>157871b3-2545-4bf0-9f65-3dcfdafbac87</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Any scripts you put here go inside the HEAD element of the page]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Contents</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Contents</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>