<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4d21960a-756e-481a-9534-4ad5c05276b4" Alias="folderAppearanceSettings" Level="2">
  <Info>
    <Name>(C) Appearance Settings</Name>
    <Icon>icon-folder-close color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <Folder>Common-Configuration</Folder>
    <Compositions>
      <Composition Key="2e9b4d55-333a-4ff1-bacb-91290a54a98b">abstractConfigNode</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>