<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ff59e7fa-229c-4d9e-9b68-355b4611facf" Alias="folderGenericCategories" Level="2">
  <Info>
    <Name>Categories Folder</Name>
    <Icon>icon-folder-outline color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Contains categories (for blog, portfolio etc.)</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <Folder>Common-Lookups</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="0fd28123-bcc9-466a-98dc-7fbc603f0965" SortOrder="0">dGenericCategoryItem</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>