<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a733f19e-f21c-4ff9-8171-1efd930a3765" Alias="ncExternalLinkItem" Level="2">
  <Info>
    <Name>(Common) Link - External</Name>
    <Icon>icon-out</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Common-NC+Items</Folder>
    <Compositions>
      <Composition Key="070b24d3-6483-430a-8a26-3ce687a5b5fe">abstractNcLinkItem</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>25649c38-4756-43c9-92fb-770d7c1414d9</Key>
      <Name>External Link</Name>
      <Alias>externalLink</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation>https?://[a-zA-Z0-9-.]+.[a-zA-Z]{2,}</Validation>
      <Description><![CDATA[If you specify an external link here, any internal link and/or link to file will be ignored.]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>Contents</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Contents</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>