<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0d5e3e27-89dd-4b07-8700-50d6d80ead34" Alias="ncRedirectToFirstSubPage" Level="2">
  <Info>
    <Name>Redirect to First Sub-Page</Name>
    <Icon>icon-documents color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Choose this option to redirect to the first child page of your current page.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <Folder>Common-NC+Items</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>33ace4b4-6045-4c65-bf7f-cbca649c4dee</Key>
      <Name>Permanent Redirect</Name>
      <Alias>permanentRedirect</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Contents</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Contents</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>