<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4a353bd8-3f19-4e49-9a35-9ac2a61e6c10" Alias="ncScriptItem" Level="2">
  <Info>
    <Name>(Common) NcScriptItem</Name>
    <Icon>icon-script-alt</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Common-NC+Items</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>ceb4bfdf-a8e2-4af5-9d44-8396028e71be</Key>
      <Name>Content</Name>
      <Alias>content</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Contents</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>452005d2-921c-4e10-959a-a623c141b9f2</Key>
      <Name>Cookie Level</Name>
      <Alias>cookieLevel</Alias>
      <Definition>d1bffb5e-6b03-4d86-8d08-4648d3f2836c</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Choose an appropriate cookie level or leave blank if script does not generate any cookie.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Contents</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>021e19e0-46b5-42e3-91b6-9995ae5b72c0</Key>
      <Name>Exclusions</Name>
      <Alias>exclusions</Alias>
      <Definition>97584b41-388a-42c1-ad48-e96ed06a0a9f</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select pages on which this script will NOT be included (applies to the whole tree from the selected page onward)]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Contents</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b45506b6-c752-4999-ab2f-e68d8aec76d2</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Title will not be used anywhere - use a title to indicate what the item is for, if you don't want the default "Item1", "Item2" etc. titles to be displayed.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Contents</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Contents</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>