<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5e41d31d-2ed9-4da5-a2d9-fd7c0edc15b0" Alias="pageContent" Level="2">
  <Info>
    <Name>Content Page</Name>
    <Icon>icon-article color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A page on your site that will contain one or more content sections.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <Folder>Common-Pages</Folder>
    <Compositions>
      <Composition Key="035d3f90-0f2e-4e0c-92a1-68baf06bd60c">abstractOpenGraph</Composition>
      <Composition Key="9bc49727-08ba-4127-aafb-c09079bc3024">abstractPage</Composition>
      <Composition Key="95c85304-f6b0-4a58-a155-359c0bf8f198">abstractPageBackgroundImage</Composition>
      <Composition Key="c4a66759-445b-496e-948a-3e4406270020">abstractPageSections</Composition>
    </Compositions>
    <DefaultTemplate>ContentPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="b2e324b2-d311-494c-9191-235167517992">ContentPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="5e41d31d-2ed9-4da5-a2d9-fd7c0edc15b0" SortOrder="0">pageContent</ContentType>
    <ContentType Key="e19c2768-0f6b-4b70-9e33-51d536efae57" SortOrder="1">pageBlogList</ContentType>
    <ContentType Key="e4d4009b-bc95-4a08-ad6d-42c1f99d4443" SortOrder="2">pageContentWithSidebar</ContentType>
    <ContentType Key="42112159-1024-482c-85d3-5adea04477c7" SortOrder="3">pageProductsList</ContentType>
    <ContentType Key="e52270b9-cce1-4185-9eb0-181863591286" SortOrder="4">pagePortfolio</ContentType>
    <ContentType Key="35c1e289-748f-4f06-bd20-a55c847ab32e" SortOrder="5">configCookieSettings</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>