<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="2251b6ca-c297-4d8e-a81f-4bf6a6af92e3" Alias="pageSiteMap" Level="2">
  <Info>
    <Name>Sitemap Page</Name>
    <Icon>icon-sitemap color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Produces and XML Sitemap that can be submitted to search engines.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <Folder>Common-Pages</Folder>
    <Compositions />
    <DefaultTemplate>SitemapPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="52ce2f42-92d9-4e52-88c9-5a517c478be5">SitemapPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>