<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="600afe1b-d758-4789-9704-cb2e1f3f831e" Alias="pageBlogAuthor" Level="2">
  <Info>
    <Name>Blog Author</Name>
    <Icon>icon-user color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Adds a new blog post author to the list of authors. Authors can be then assigned to blog posts.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <Folder>Common-Blog</Folder>
    <Compositions>
      <Composition Key="035d3f90-0f2e-4e0c-92a1-68baf06bd60c">abstractOpenGraph</Composition>
      <Composition Key="9bc49727-08ba-4127-aafb-c09079bc3024">abstractPage</Composition>
      <Composition Key="52152b69-9d61-4f88-95da-a45ad14867d5">AbstractSocialLinks</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>37d90c1f-5e22-4241-ac80-5784d9a1b405</Key>
      <Name>Author Bio Page</Name>
      <Alias>authorBioPage</Alias>
      <Definition>19aacf4b-0e7e-44cd-8064-555a5940bd88</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>18b28476-0128-48c2-a4c6-3c64cf3666f7</Key>
      <Name>Author image</Name>
      <Alias>authorImage</Alias>
      <Definition>fad3c248-1c81-49b0-93f1-8dac4d9d8aec</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>805cc99e-90a4-48bd-b0df-a278a0625b1e</Key>
      <Name>Author Summary</Name>
      <Alias>authorSummary</Alias>
      <Definition>1d0ab3ee-cc09-46db-a1b6-a65655758b56</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>