<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="df967462-3535-469b-99f8-204faef56372" Alias="pagePortfolioItem" Level="2">
  <Info>
    <Name>Portfolio Item Page</Name>
    <Icon>icon-notepad</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A page displaying a portfolio item</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <Folder>Site-Pages</Folder>
    <Compositions>
      <Composition Key="035d3f90-0f2e-4e0c-92a1-68baf06bd60c">abstractOpenGraph</Composition>
      <Composition Key="9bc49727-08ba-4127-aafb-c09079bc3024">abstractPage</Composition>
      <Composition Key="95c85304-f6b0-4a58-a155-359c0bf8f198">abstractPageBackgroundImage</Composition>
    </Compositions>
    <DefaultTemplate>portfolioItemPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="4dfbe901-6491-4894-8500-80c93ff2fe55">portfolioItemPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>b3e5e2e5-ce0a-4656-8e05-c5451fc1508c</Key>
      <Name>Categories</Name>
      <Alias>categories</Alias>
      <Definition>fd0bee8f-d06f-4aed-9f46-524a8248d53d</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Choose one or more categories your project belongs to. You must have defined some categories for your portfolio items first.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>31bf980e-8378-427a-bfb1-4f6495e2660c</Key>
      <Name>Client</Name>
      <Alias>client</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[If you leave this empty, no client information will be displayed.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3553d6cd-74c5-4e3f-af00-9db614669601</Key>
      <Name>Content</Name>
      <Alias>content</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a3dd8cd8-e866-4f81-a908-2fbd5bc52108</Key>
      <Name>Custom fields</Name>
      <Alias>customFields</Alias>
      <Definition>5bc1bf2b-3b32-455a-ac86-22cf279bc29a</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter the field title followed by its value.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>32db29a0-9ac0-4c88-b0a3-c0fe2c9076f9</Key>
      <Name>Do not display categories</Name>
      <Alias>doNotDisplayCategories</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Check this box to hide the categories list for this project from the detail page, as well as from the listing page (where it applies). If you have globally hidden categories via the parent folder's settings page then this checkbox does nothing.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Other Settings</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9497ed01-2766-475c-9318-2c44dec69f39</Key>
      <Name>Do not display release date</Name>
      <Alias>doNotDisplayReleaseDate</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Check this box to prevent the release date from displaying in the item's page. If you have globally hidden release dates via the parent folder's settings, this checkbox will do nothing. ]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Other Settings</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>50b44362-27ae-4cb7-a28d-7b084efdf220</Key>
      <Name>Do not show large first image</Name>
      <Alias>doNotShowLargeFirstImage</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[If you have selected to show images as a list, you can check this box to prevent the first image show at full width (it will be part of the 2-column list together with other images). This is useful when, for example, you need to show a video on top and a list of images underneath.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Images</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f35bd345-5b96-4cd8-895f-5e008eabe060</Key>
      <Name>Images</Name>
      <Alias>imageGallery</Alias>
      <Definition>3c9f588d-5079-405e-8471-bf5c7f1e1836</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Pick one or more images to be displayed in your page. ]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Images</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>341fa2e6-ab85-460e-9e43-3200e569ca60</Key>
      <Name>Link</Name>
      <Alias>link</Alias>
      <Definition>48bd71dc-3913-420e-a90b-224078451fd8</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Link</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c989165c-211e-439c-8a7e-1c9120775ce4</Key>
      <Name>List image</Name>
      <Alias>listImage</Alias>
      <Definition>fad3c248-1c81-49b0-93f1-8dac4d9d8aec</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The image that will be used on the portfolio list. If you do not select anything here, the first image from your image gallery will be used. The image will be cropped according to your other settings (spacing, wide display)]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Images</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0b928f55-ab96-46c3-94a4-57b19131f082</Key>
      <Name>Related items</Name>
      <Alias>relatedItems</Alias>
      <Definition>c611b04a-226d-4913-82b5-c77e162950d3</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Choose one or more projects related to the current one. ]]></Description>
      <SortOrder>7</SortOrder>
      <Tab>Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9e499e7c-50ce-4538-9fe2-db743241aeb9</Key>
      <Name>Title for Related Items section</Name>
      <Alias>relatedTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This title will appear over the "related projects" section (wherever related projects have been defined). You can override this title per project. If you leave this empty, the title defined in the section settings will be used instead.]]></Description>
      <SortOrder>6</SortOrder>
      <Tab>Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4e1e47e2-c83d-45ff-a008-83fc1ed6bf9c</Key>
      <Name>Release date</Name>
      <Alias>releaseDate</Alias>
      <Definition>5046194e-4237-453c-a547-15db3a07c4e1</Definition>
      <Type>Umbraco.DateTime</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The release date of your project. If you leave this blank, no release date will be displayed. If you have chosen to sort portfolio items by date it is essential to have a value here for proper sorting. ]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2de10039-79c2-4453-882f-54efed24c5eb</Key>
      <Name>Show images as list</Name>
      <Alias>showImagesAsList</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[By default, if there is more than one image in the gallery, a slider will be created. If you check this box the first image will be displayed on top (full page width) and the rest of the images will be displayed underneath it.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Images</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>80c1a337-3247-47b7-a4af-9081f1f05798</Key>
      <Name>Summary</Name>
      <Alias>summary</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1dd55373-bc37-4dad-b26a-13150b4d1998</Key>
      <Name>Video Url</Name>
      <Alias>videoUrl</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter a YouTube or Vimeo URL as it appears in the browser's address bar (do not use the embed or share code).]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Video</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Caption>Images</Caption>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Caption>Video</Caption>
      <SortOrder>3</SortOrder>
    </Tab>
    <Tab>
      <Caption>Other Settings</Caption>
      <SortOrder>4</SortOrder>
    </Tab>
    <Tab>
      <Caption>Link</Caption>
      <SortOrder>5</SortOrder>
    </Tab>
  </Tabs>
</ContentType>