<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4914fbf4-5bf6-4aac-8f94-83187ba5d158" Alias="pageProductCategory" Level="2">
  <Info>
    <Name>Product Category</Name>
    <Icon>icon-shorts color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <Folder>Site-Pages</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>