<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e735de90-2cd3-4568-a724-f3bc17590d7b" Alias="sectionCounterBlockSettings" Level="2">
  <Info>
    <Name>Counters Section Block Settings</Name>
    <Icon>icon-calculator color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Displays 1 to 4 counters inside your page.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <Folder>Site-SectionBlocks</Folder>
    <Compositions>
      <Composition Key="ac295ce8-89b9-488c-bc09-4d43fe0d18a6">abstractBackgroundImageBlock</Composition>
      <Composition Key="25e21eca-99ed-4fa4-b14b-65af94d25342">abstractSectionEffectsBlock</Composition>
      <Composition Key="fe822b8a-2bf8-4e1a-b3cf-45ed731085e7">abstractSectionLayoutBlock</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>655a4733-f373-475a-8474-6c7dcd14789b</Key>
      <Name>Easing</Name>
      <Alias>easing</Alias>
      <Definition>145dab44-137f-4b6a-bc82-20ce85ec1559</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Leave this empty to apply the default setting.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Counters Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2c818786-bf58-4999-9a5d-67b955e10ca7</Key>
      <Name>Speed</Name>
      <Alias>speed</Alias>
      <Definition>47f65929-1ccc-4ef0-bdff-9f980d91f1f7</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Time to count to the final number (in MS). Leave this to 0 to apply the default setting.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Counters Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>da453a91-c61f-497b-adef-ba1a6d638bc1</Key>
      <Name>Text Orientation</Name>
      <Alias>textOrientation</Alias>
      <Definition>9738a66b-28a3-48b3-920d-02da66cf8f4c</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Default orientation is text center]]></Description>
      <SortOrder>6</SortOrder>
      <Tab>Layout</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Counters Settings</Caption>
      <SortOrder>150</SortOrder>
    </Tab>
    <Tab>
      <Caption>Layout</Caption>
      <SortOrder>1000</SortOrder>
    </Tab>
  </Tabs>
</ContentType>