<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="998a6065-68dc-41b8-8ebf-976602462483" Alias="sectionActionBoxBlockSettings" Level="2">
  <Info>
    <Name>Action Box Section Block Settings</Name>
    <Icon>icon-share-alt color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A box with a description and a button that leads to an internal or external link.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <Folder>Site-SectionBlocks</Folder>
    <Compositions>
      <Composition Key="ac295ce8-89b9-488c-bc09-4d43fe0d18a6">abstractBackgroundImageBlock</Composition>
      <Composition Key="abc0215f-bb8b-490f-b627-cd6ad5921ca6">abstractButtonLayoutBlock</Composition>
      <Composition Key="25e21eca-99ed-4fa4-b14b-65af94d25342">abstractSectionEffectsBlock</Composition>
      <Composition Key="fe822b8a-2bf8-4e1a-b3cf-45ed731085e7">abstractSectionLayoutBlock</Composition>
      <Composition Key="9492b496-5c58-4021-8a79-6c4a446808c3">abstractSectionTitleBlock</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>