<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="57c24069-4a8b-45ae-aeab-23e079be9712" Alias="sectionAccordionBlock" Level="2">
  <Info>
    <Name>Accordion Section Block</Name>
    <Icon>icon-list color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Allows you to define collapsible text sections</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <Folder>Site-SectionBlocks</Folder>
    <Compositions>
      <Composition Key="dc321a87-6633-4b5a-bffd-ba5c0117aeb5">abstractSectionBlock</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>e82b9158-a73e-4687-bf7f-5828461d43b0</Key>
      <Name>Items</Name>
      <Alias>items</Alias>
      <Definition>1015d28a-e1df-4485-a111-1ba4b1e31651</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Contents</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Contents</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>