<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="7f5898bb-c9f4-4794-9339-d87720ffe784" Alias="sectionClientLogosBlock" Level="2">
  <Info>
    <Name>Client Logos Section Block</Name>
    <Icon>icon-thumbnails color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Presents a list of (clickable or non-clickable) logos that can be used to list your clients or for any other relevant use.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <Folder>Site-SectionBlocks</Folder>
    <Compositions>
      <Composition Key="dc321a87-6633-4b5a-bffd-ba5c0117aeb5">abstractSectionBlock</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>19ef1f28-8ad1-4294-a5c8-cfd86a91cac9</Key>
      <Name>Items</Name>
      <Alias>items</Alias>
      <Definition>63a886fc-3f06-4168-90ef-10a5cdf0ca0f</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Contents</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Contents</Caption>
      <SortOrder>10</SortOrder>
    </Tab>
  </Tabs>
</ContentType>