<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="21e395b0-3483-4330-93d2-a966effec4ef" Alias="sectionFaqTabbedBlockSettings" Level="2">
  <Info>
    <Name>FAQ (Tabbed) Section Block Settings</Name>
    <Icon>icon-thumbnail-list color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Displays a list of frequently asked questions and their answers, grouped in tabs.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <Folder>Site-SectionBlocks</Folder>
    <Compositions>
      <Composition Key="25e21eca-99ed-4fa4-b14b-65af94d25342">abstractSectionEffectsBlock</Composition>
      <Composition Key="fe822b8a-2bf8-4e1a-b3cf-45ed731085e7">abstractSectionLayoutBlock</Composition>
      <Composition Key="9492b496-5c58-4021-8a79-6c4a446808c3">abstractSectionTitleBlock</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>