<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b2215b8f-d2b5-404b-b279-ab0f7382f2a6" Alias="sectionIntroVideoBlock" Level="2">
  <Info>
    <Name>Intro - Video Section Block</Name>
    <Icon>icon-video color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <Folder>Site-SectionBlocks</Folder>
    <Compositions>
      <Composition Key="e0f47d79-42ea-4642-8336-3e7fac4859ba">abstractIntroBlock</Composition>
      <Composition Key="8dbf853e-3ee9-487a-b313-92fdca26a9fa">abstractIntroSectionBlock</Composition>
      <Composition Key="dc321a87-6633-4b5a-bffd-ba5c0117aeb5">abstractSectionBlock</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>06b8e11e-22f1-4d69-a07e-2cc6cdccc85e</Key>
      <Name>Disable Loop</Name>
      <Alias>disableLoop</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Disables looping of the video upon finishing playback]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Video</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>dc1f2821-1a00-476f-8cd1-8ade924d7999</Key>
      <Name>Disable Video on Mobile</Name>
      <Alias>disableVideoOnMobile</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Shows the background image but does not launch the video on mobile devices if checked]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Video</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>52091e0e-32e5-4c90-ae8d-34ac36956538</Key>
      <Name>Opacity</Name>
      <Alias>opacity</Alias>
      <Definition>03b30dfc-0fd8-447f-8848-8677bd3e6381</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[A smaller value means a more opaque video]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>Video</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>24759005-0f8b-477c-b630-89a87bcc109b</Key>
      <Name>Start At</Name>
      <Alias>startAt</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Start playing at a specific point in the video (in seconds)]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Video</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b409f8e7-7d1b-43c7-ba75-0d57609bf182</Key>
      <Name>Stop At</Name>
      <Alias>stopAt</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Stop playing at a specific point in the video (in seconds)]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Video</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f0b8502e-d677-497a-9bc9-38c8c4c790c4</Key>
      <Name>YouTube Video Url</Name>
      <Alias>youTubeVideoUrl</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation>https?://[a-zA-Z0-9-.]+.[a-zA-Z]{2,}</Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Video</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Video</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>