<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="66d48d60-796f-42fb-bb62-7ad1e95ad5c0" Alias="sectionIntroVideoBlockSettings" Level="2">
  <Info>
    <Name>Intro - Video Section Block Settings</Name>
    <Icon>icon-video color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <Folder>Site-SectionBlocks</Folder>
    <Compositions>
      <Composition Key="ac295ce8-89b9-488c-bc09-4d43fe0d18a6">abstractBackgroundImageBlock</Composition>
      <Composition Key="abc0215f-bb8b-490f-b627-cd6ad5921ca6">abstractButtonLayoutBlock</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>