<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="2e62e7f9-f281-4098-98f1-f4a024241c2a" Alias="sectionServicesBlock" Level="2">
  <Info>
    <Name>Services Section Block</Name>
    <Icon>icon-shipping-box color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Allows for adding nodes that describe services</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <Folder>Site-SectionBlocks</Folder>
    <Compositions>
      <Composition Key="dc321a87-6633-4b5a-bffd-ba5c0117aeb5">abstractSectionBlock</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>f8d445c8-82c5-41d2-a013-4a7552de5816</Key>
      <Name>Image Size</Name>
      <Alias>imageSize</Alias>
      <Definition>acfca9e2-0df5-4c9b-bb42-18886a54f5a9</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Images have always same height & width]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Contents</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>54b4f657-a25e-4232-832c-e4d7711e92e5</Key>
      <Name>Items</Name>
      <Alias>items</Alias>
      <Definition>afafddd2-dac2-4ef2-98ab-28ac9c9b5f3f</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Contents</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5deb4e08-0a5c-48cf-938c-1867d194aceb</Key>
      <Name>Number of Columns</Name>
      <Alias>numberOfColumns</Alias>
      <Definition>015bd332-df35-41f5-a35f-a790f2fc7a37</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter the number of columns (items per row) to be displayed.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Contents</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b99ecffb-9228-456c-b97d-928ebd0ce9fa</Key>
      <Name>Text Orientation</Name>
      <Alias>textOrientation</Alias>
      <Definition>9738a66b-28a3-48b3-920d-02da66cf8f4c</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Default is text center]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Layout</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Contents</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>Layout</Caption>
      <SortOrder>1000</SortOrder>
    </Tab>
  </Tabs>
</ContentType>