<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ad884d02-5c77-4cd4-8904-c860c31f369b" Alias="sectionImageTextBlockSettings" Level="2">
  <Info>
    <Name>Image Text Section Block Settings</Name>
    <Icon>icon-layout color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <Folder>Site-SectionBlocks</Folder>
    <Compositions>
      <Composition Key="fe822b8a-2bf8-4e1a-b3cf-45ed731085e7">abstractSectionLayoutBlock</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>