<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="00735116-3206-414e-9d3c-c625a3789646" Alias="sectionIntroStaticImageBlock" Level="2">
  <Info>
    <Name>Intro - Static Image Section Block</Name>
    <Icon>icon-picture color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <Folder>Site-SectionBlocks</Folder>
    <Compositions>
      <Composition Key="ac295ce8-89b9-488c-bc09-4d43fe0d18a6">abstractBackgroundImageBlock</Composition>
      <Composition Key="e0f47d79-42ea-4642-8336-3e7fac4859ba">abstractIntroBlock</Composition>
      <Composition Key="8dbf853e-3ee9-487a-b313-92fdca26a9fa">abstractIntroSectionBlock</Composition>
      <Composition Key="dc321a87-6633-4b5a-bffd-ba5c0117aeb5">abstractSectionBlock</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>19627a39-3986-4e81-a064-653fb4067672</Key>
      <Name>Fade Text</Name>
      <Alias>fadeText</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Fade text as you scroll downwards]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Scrolling</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a6552698-0245-4dc8-9bd4-dda430a99ee1</Key>
      <Name>Keep Text Visible</Name>
      <Alias>keepTextVisible</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Move text to try to keep it visible as you scroll downwards]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Scrolling</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>cea45105-560c-48c9-af0f-6ecf18e74182</Key>
      <Name>Parallax</Name>
      <Alias>parallax</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Check this to enable parallax effect as you scroll downwards (does not work well with "keep text visible")]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Scrolling</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Scrolling</Caption>
      <SortOrder>501</SortOrder>
    </Tab>
  </Tabs>
</ContentType>