<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ecfd7fe9-2201-4c52-bc4a-471868aefa31" Alias="sectionStatementBlock" Level="2">
  <Info>
    <Name>Statement Section Block</Name>
    <Icon>icon-bookmark color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A visually catching section that allows for text and an action button, as well as a background image.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <Folder>Site-SectionBlocks</Folder>
    <Compositions>
      <Composition Key="ac295ce8-89b9-488c-bc09-4d43fe0d18a6">abstractBackgroundImageBlock</Composition>
      <Composition Key="dc321a87-6633-4b5a-bffd-ba5c0117aeb5">abstractSectionBlock</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>05b705e0-4471-4340-935a-904480ee6279</Key>
      <Name>Icon</Name>
      <Alias>icon</Alias>
      <Definition>54f0c593-5b4d-4dcd-915a-d48571b4a5db</Definition>
      <Type>faIcon</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter the class for the icon you need. You can find the names at http://ionicons.com/]]></Description>
      <SortOrder>10</SortOrder>
      <Tab>Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e3a4ad48-55bf-4626-b488-5d1bcdeb8954</Key>
      <Name>Link</Name>
      <Alias>link</Alias>
      <Definition>2f491733-fc1b-42fe-b4b2-21d95a92faf6</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[You can enter a YouTube link as an external link. Doing that will launch a pop-up player when the user clicks on the link.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b446db06-1650-4289-ab42-d58b7eb815d7</Key>
      <Name>Text</Name>
      <Alias>text</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>10</SortOrder>
    </Tab>
  </Tabs>
</ContentType>