<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="32d8f9a8-8c12-4ae7-8285-e969e47ce890" Alias="sectionPricingBlock" Level="2">
  <Info>
    <Name>Pricing Section Block</Name>
    <Icon>icon-bills-euro color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Allows you to create a product pricing list with one or more pricing entries (up to 4)</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <Folder>Site-SectionBlocks</Folder>
    <Compositions>
      <Composition Key="dc321a87-6633-4b5a-bffd-ba5c0117aeb5">abstractSectionBlock</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>969605fb-9d7d-4b7b-a0d5-2db8c8aa0050</Key>
      <Name>Items</Name>
      <Alias>items</Alias>
      <Definition>f911f27f-7766-401c-967f-e4f127459526</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Contents</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Contents</Caption>
      <SortOrder>10</SortOrder>
    </Tab>
  </Tabs>
</ContentType>