<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="2e797b7a-dc21-406a-bdb7-e45b33866d9a" Alias="sectionPortfolioBlock" Level="2">
  <Info>
    <Name>Portfolio Section Block</Name>
    <Icon>icon-thumbnails-small color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Displays a portfolio list, where each item has its own page. You can adjust the number of columns, the layout, categories, counters, as well as a lot of other things.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <Folder>Site-SectionBlocks</Folder>
    <Compositions>
      <Composition Key="dc321a87-6633-4b5a-bffd-ba5c0117aeb5">abstractSectionBlock</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="39d6349e-8388-4e25-ad63-387f87cf226b" SortOrder="0">folderPortfolioItems</ContentType>
    <ContentType Key="ff59e7fa-229c-4d9e-9b68-355b4611facf" SortOrder="1">folderGenericCategories</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>abc835a0-7689-408b-a5ac-735397d90631</Key>
      <Name>Label for "All" category option</Name>
      <Alias>allOptionLabel</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[You can specify custom text for the "All" category option - if you don't enter text here the default setting from the Dictionary (Theme.Gallery.All) will be used.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Category Settings</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d62a2ec3-bd37-4eb1-90c7-9e2883f592a8</Key>
      <Name>Columns</Name>
      <Alias>columns</Alias>
      <Definition>23f31aae-1966-4d83-abeb-efaf6376bad3</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select how many columns the images will be presented with (2 min, 4 max). If you don't specify a value, 2 columns will be rendered.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Display Settings</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d66435db-589f-4d1b-962a-dbe1fe2d511d</Key>
      <Name>Date format</Name>
      <Alias>dateFormat</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Format when displaying dates. You can use standard formats like dd/MMM/yy. Default format if not specified is dd/MM/yyyy.]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>Display Settings</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>733213d2-8dc3-4454-8d56-eda77b9510ae</Key>
      <Name>Do not display categories</Name>
      <Alias>doNotDisplayCategories</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[If you check this box, categories will not be displayed in the listing as well as in the detail page of each project. You can also leave this box unchecked and selectively hide the category list for specific projects in the portfolio item settings page.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Category Settings</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>fe4be9d9-23e3-42d9-b35b-fc08a11219b9</Key>
      <Name>Do not display release date</Name>
      <Alias>doNotDisplayReleaseDate</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[If you check this box, release date will not be displayed inside the page of each project. You can also leave this box unchecked and selectively hide release dates on specific projects, in the portfolio item settings page.]]></Description>
      <SortOrder>6</SortOrder>
      <Tab>Display Settings</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>172a93a0-854e-4ff3-97ac-5150fcb10f12</Key>
      <Name>Hide "All" category option</Name>
      <Alias>hideAllCategoryOption</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[If you check this box, items will be filtered by the first category and there will be no "all" option in the category menu.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Category Settings</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>04fe4a27-0296-46f9-b445-9fa33aff9558</Key>
      <Name>Hide next / previous item navigation</Name>
      <Alias>hideNextPrevious</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[If you check this box, next/previous navigation will not be displayed at the bottom of each portfolio item page.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Next/Previous Navigation</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f7c4adce-9c1b-4c84-8b53-d63f887a77cd</Key>
      <Name>Inherit background image</Name>
      <Alias>inheritBackgroundImage</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Check this box to have all portfolio item page inherit their top background image (and settings) from the page that contains this section]]></Description>
      <SortOrder>7</SortOrder>
      <Tab>Display Settings</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f245a4f6-40dc-4811-9573-14db211e863d</Key>
      <Name>Masonry</Name>
      <Alias>masonry</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[If you have images of uneven sizes and wish them to retain their sizes check this box. Otherwise the images will be automatically cropped around the focus point to form a grid.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Display Settings</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e31d5054-7ee3-4797-adf0-098026fa7b7d</Key>
      <Name>Restrict next/previous projects to current project's categories</Name>
      <Alias>nextPrevRestrictToCategories</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[If checked, next/previous navigation will only include projects belonging to the same category (or categories) as the project being viewed.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Next/Previous Navigation</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>41c405fb-5968-41ee-a46a-fe4e91f73269</Key>
      <Name>Random related projects</Name>
      <Alias>randomRelated</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[If "related projects" are empty for a specific item, display random related projects for this item.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Related Items Settings</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>608dbe29-c2d5-4e77-8685-ec4e8b3cc44a</Key>
      <Name>Random related projects number</Name>
      <Alias>randomRelatedNumber</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Number of random related items to show (only if random items are enabled). Default is 3.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Related Items Settings</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f8f24afe-9a4b-48e6-951a-c6084ad0ed7e</Key>
      <Name>Restrict random items to categories</Name>
      <Alias>randomRelatedRestrictToCategories</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[If random related projects are enabled, checking this box restricts random projects only to categories the currently viewed item also belongs to]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Related Items Settings</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d489767f-40f7-4248-ba85-296b5697584a</Key>
      <Name>Default title for related projects section</Name>
      <Alias>relatedTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This title will appear over the "related projects" section (wherever related projects have been defined). You can override this title per project. If you leave this empty, the section will be displayed without a title.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Related Items Settings</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ed4a0c6b-ab27-482b-b90a-11b4850f2030</Key>
      <Name>Show item count</Name>
      <Alias>showItemCount</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Show a counter next to category names to indicate how many portfolio items belong to each category]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Category Settings</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>87572222-bd0d-4ae2-9017-ee2cfda979af</Key>
      <Name>Sort by date</Name>
      <Alias>sortByDate</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[If you check this box, portfolio items will be sorted by their release date (newest first). Otherwise, they'll be sorted with their natural order.]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Display Settings</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>82819d34-f944-408b-b281-aab865fcd5d0</Key>
      <Name>Spacing between images</Name>
      <Alias>spacing</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[If this box is not checked, images will "stick" to each other]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Display Settings</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>293d9d57-e4b7-4c01-ac7a-74553c97ad4c</Key>
      <Name>Wide</Name>
      <Alias>wide</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Check this box to make the portfolio take the full width of the page on desktop resolutions.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Display Settings</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Display Settings</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>Category Settings</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Caption>Next/Previous Navigation</Caption>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Caption>Related Items Settings</Caption>
      <SortOrder>3</SortOrder>
    </Tab>
  </Tabs>
</ContentType>